@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


//////////////////// Width
@media screen and (min-width: 1600px) {

    .containerArrowIcon {
        left: 100px;
    }

    .forgotPassswordBox {

        form {

            input {
                width: 650px;
            }
        }
    }

    .errorMessage {
        font-size: 16px;
    }
}


@media screen and (max-width: 740px) {

    .containerArrowIcon {
        left: 45px;
    }

    .forgotPassswordBox {

        form {

            input {
                width: 400px;
            }
        }
    }
}


@media screen and (max-width: 675px) {

    .containerArrowIcon {
        left: 28px;
    }

    .forgotPassswordBox {

        form {

            input {
                width: 300px;
            }
        }
    }

    .textInForm {
        width: 420px;
    }
}


@media screen and (max-width: 540px) {

    .mainContainerForgotPassswordBox {
        margin-top: 50px;
    }

    .forgotPassswordBox {
        padding: 30px 35px 30px 35px;
    }

    .containerArrowIcon {
        left: 5px;
    }

    .forgotPassswordBox {

        form {

            input {
                width: 280px;
            }
        }
    }

    .textInForm {
        width: 390px;
    }

    app-footer {
        display: none;
    }
}


@media screen and (max-width: 475px) {

    .containerArrowIcon {
        left: 35px;
    }

    .forgotPassswordBox {
        width: 320px;
        padding: 30px;

        h1 {
            font-size: 40px;
            text-align: center;
        }

        form {

            input {
                width: 200px;
            }
        }
    }

    .text {
        font-size: 18px;
    }

    .textInForm {
        width: 320px;
        font-size: 18px;
    }

    .btnContainer {
        justify-content: center;
    }
}


@media screen and (max-width: 395px) {

    .containerArrowIcon {
        left: 15px;
    }

    .forgotPassswordBox {
        width: 200px;

        h1 {
            font-size: 30px;
        }

        form {

            input {
                width: 120px;
                font-size: 16px;
            }
        }
    }

    .text {
        font-size: 16px;
        text-align: center;
    }

    .textInForm {
        width: 220px;
        font-size: 16px;
    }
}


//////////////////// Disabled the hover Effects on touch Devices and add active Effects
@media (pointer: coarse) {

    .containerArrowIcon {

        &:hover {
            background-color: unset;

            img {
                filter: none;
            }
        }

        &:active {
            background-color: $bgColor;
            transition: all 225ms ease-in-out;

            img {
                filter: brightness(0) saturate(100%) invert(24%) sepia(99%) saturate(1557%) hue-rotate(226deg) brightness(110%) contrast(90%);
            }
        }
    }

    .btnContainer {

        button {

            &:hover {
                background-color: $darkPurple;
            }
        }

        button {

            &:active {
                background-color: $purple;
            }
        }
    }
}