<main>
    <header>
        <img src="./assets/img/da-bubble-logo.svg" alt="DABubble Logo">
    </header>


    <div class="mainContainerForgotPassswordBox">

        <div class="forgotPassswordBox">
            <div routerLink="/login" class="containerArrowIcon">
                <img src="./assets/icons/arrow-icon.svg" alt="Arrow Icon">
            </div>

            <h1>Forgot Password</h1>

            <p class="text">Please enter your Email address.</p>

            <form (ngSubmit)="sendMailToResetPassword()" [formGroup]="forgotPasswordForm">
                <!--------------------------------- Inputfield Email --------------------------------->
                <input class="inputFieldEmail" type="email" placeholder="examplename@email.com" formControlName="email"
                    [ngClass]="{'errorInputfield': inputfieldEmailIsRequired() || inputfieldEmailIsInvalid()}">

                @if (inputfieldEmailIsRequired()) {
                <p style="margin-top: -25px;" class="errorMessage">Email is required</p>
                } @else if (inputfieldEmailIsInvalid()) {
                <p style="margin-right: 342px; margin-top: -25px;" class="errorMessage">Please enter a valid Email</p>
                }
                <!--------------------------------- Inputfield Email --------------------------------->


                <p class="textInForm">
                    We will send you a Email, with it you can reset your Password.
                </p>


                <div class="btnContainer">
                    <button class="btnPrimary" type="submit" [disabled]="forgotPasswordForm.invalid"
                        [ngClass]="{'btnDisabled': forgotPasswordForm.invalid}">
                        Send Email
                    </button>
                </div>
            </form>
        </div>

    </div>


    <app-footer></app-footer>
</main>