<main>
    <header>
        <img src="./assets/img/da-bubble-logo.svg" alt="DABubble Logo">
        <input type="text" placeholder="Browse Learn Code">

        <div class="containerProfileImgAndName">
            <p>Tom</p>
            <img class="profileImg" src="./assets/img/avatar-1.svg" alt="Profile Image">
            <img src="./assets/icons/arrow-icon-profile.svg" alt="Arrow Icon">

            <img class="iconOnlineStatus" src="./assets/icons/user-is-online-icon.svg" alt="Green Dot">
            <!-- <img class="iconOnlineStatus" src="./assets/icons/user-is-offline-icon.svg" alt="Gray Dot"> -->
        </div>
    </header>
</main>