@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


//////////////////// Width
@media screen and (max-width: 600px) {

    .dialogBox {
        width: 300px;
    }
}


@media screen and (max-width: 475px) {

    .dialogBox {
        width: 230px;
    }

    .containerProfileImg {
        flex-direction: column;
        align-items: center;
        gap: 20px;

        button {
            position: unset;
        }
    }
}


@media screen and (max-width: 390px) {

    .dialogBox {
        width: 170px;
        padding: 45px 25px 45px 25px;
    }

    .dialogBoxUpperPart {

        p {
            font-size: 18px;
        }
    }

    .containerProfileImg {

        img {
            width: 100px;
            height: 100px;
        }
    }

    .imgNoSelectedProfile {
        width: 80px !important;
        height: 80px !important;
        padding: 8px !important;
    }

    .dialogBoxMiddlePart {
        margin-bottom: 10px;

        p {
            font-size: 18px;
        }

        button {
            font-size: 18px;
        }
    }

    .dialogBoxUserOnlineStatus {

        img {
            width: 14px;
        }

        p {
            font-size: 18px;
        }
    }

    .dialogBoxLowerPart {

        p {
            font-size: 18px;
        }
    }

    .userEmail {
        width: 125px;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}


//////////////////// Disabled the hover Effects on touch Devices and add active Effects
@media (pointer: coarse) {

    .containerCloseIcon {

        &:hover {
            background-color: unset;

            img {
                filter: none;
            }
        }

        &:active {
            background-color: $bgColor;
            transition: all 225ms ease-in-out;

            img {
                filter: brightness(0) saturate(100%) invert(24%) sepia(99%) saturate(1557%) hue-rotate(226deg) brightness(110%) contrast(90%);
            }
        }
    }

    .containerProfileImg {

        button {

            &:hover {
                color: $darkPurple;
            }

            &:active {
                color: $darkPurple;
                font-weight: 700;
            }
        }
    }

    .dialogBoxMiddlePart {

        button {

            &:hover {
                color: $darkPurple;
            }

            &:active {
                color: $darkPurple;
                font-weight: 700;
            }
        }
    }
}