<div class="dialogBox">

    <div class="dialogBoxUpperPart">
        <p>Profile</p>

        <div mat-dialog-close class="containerCloseIcon">
            <img src="/assets/icons/close-icon.svg" alt="Close Icon">
        </div>
    </div>


    <div class="containerProfileImg">
        @if (!authService.user.imgUrl) {
        <img class="imgNoSelectedProfile" src="/assets/img/non-user-selected.svg" alt="Profile Image">
        }@else {
        <img src="{{ authService.user.imgUrl }}" alt="Profile Image">
        }
    </div>


    <div class="dialogBoxMiddlePart">
        <p>{{ authService.user.name }}</p>

        @if (userWithGoogleIsNotLoggedIn() && guestUserIsNotLoggedIn()) {
        <p (click)="openProfileEditView()">Edit</p>
        }
    </div>


    <div class="dialogBoxUserOnlineStatus">
        <img src="/assets/icons/user-is-online-icon.svg" alt="Green Dot">
        <p>Online</p>
    </div>


    <div class="dialogBoxLowerPart">
        <img src="/assets/icons/email-icon-black.svg" alt="Email Icon">
        <p>Email Address</p>
    </div>


    <p class="emailAddress">
        {{ !authService.auth.currentUser?.isAnonymous ? authService.user.email : 'Guest User have no Email' }}
    </p>

</div>