<div class="dialogBox">

    <div [ngClass]="{'overlay': menuUserSelectionIsOpen}" (click)="closeUserMenuSelectionIfClickOutside()"></div>

    <div class="dialogBoxUpperPart">
        <p>Add People</p>

        <div class="containerCloseIcon" mat-dialog-close>
            <img src="assets/icons/close-icon.svg" alt="Close Icon">
        </div>
    </div>


    <div class="containerImageAndChannelName">
        <img src="assets/icons/hashtag-icon-black.svg" alt="Hashtag Icon">
        <p>{{ data.channelName }}</p>
    </div>


    <form>
        <input type="text" placeholder="Enter Name" (click)="openMenuUserSelection()">


        <!--------------------------------- User selection Menu --------------------------------->
        @if(menuUserSelectionIsOpen) {
        <div class="containerUserMenuSelection">

            @for (user of allUsers; track $index) {

            @if (userIdMatchesWithIdFromLoggedinUser(user.userId)) {

            <div class="containerUserNameAndImg">

                @if (noProfileImgExist(user)) {
                <img class="imgNoSelectedProfile" src="assets/img/non-user-selected.svg" alt="User Profile Image">
                }@else {
                <img class="userImg" src="{{ user.imgUrl }}" alt="User Profile Image">
                }

                @if (userIsOnline(user)) {
                <img class="userOnlineStatus" src="assets/icons/user-is-online-icon.svg" alt="Green Dot">
                }@else {
                <img class="userOnlineStatus" src="assets/icons/user-is-offline-icon.svg" alt="Gray Dot">
                }

                <p>{{ user.name }}</p>

            </div>
            }

            }
        </div>
        <!--------------------------------- User selection Menu --------------------------------->
        }


        <div class="btnContainer">
            <button type="submit">Add</button>
        </div>
    </form>
</div>