<div class="dialogBox">

    <div class="dialogBoxUpperPart">
        <p>Add People</p>

        <div class="containerCloseIcon" mat-dialog-close>
            <img src="assets/icons/close-icon.svg" alt="Close Icon">
        </div>
    </div>


    <div class="containerImageAndChannelName">
        <img src="assets/icons/hashtag-icon-black.svg" alt="Hashtag Icon">
        <p>{{ data.channelName }}</p>
    </div>


    <form>
        <input type="text" placeholder="Enter Name">

        <div class="btnContainer">
            <button type="submit">Add</button>
        </div>
    </form>
</div>