<div class="dialogBox">

    <div [ngClass]="{'overlay': menuUserSelectionIsOpen}" (click)="closeUserMenuSelectionIfClickOutside()"></div>

    <div class="dialogBoxUpperPart">
        <p>Add People</p>

        <div class="containerCloseIcon" mat-dialog-close>
            <img src="assets/icons/close-icon.svg" alt="Close Icon">
        </div>
    </div>


    <div class="containerImageAndChannelName">
        <img src="assets/icons/hashtag-icon-black.svg" alt="Hashtag Icon">
        <p>{{ data.channelName }}</p>
    </div>


    <form (ngSubmit)="addMoreMembersToTheChannel()" [formGroup]="addMorePeopleForm">

        <input type="text" placeholder="Enter Name" formControlName="inputFieldAddMorePeople"
            (click)="openMenuUserSelection()">


        <!--------------------------------- User selection Menu --------------------------------->
        @if(menuUserSelectionIsOpen) {
        <div class="containerUserMenuSelection">

            @for (user of allUsers; track $index) {

            @if (userIdMatchesWithIdFromLoggedinUser(user.userId)) {

            <div class="containerUserNameAndImg" (click)="addUserToChannel(user)"
                [ngClass]="{'selectedUser': userIsSelected(user), 'alreadyChannelMember': isAlreadyChannelMember(user.userId)}">

                @if (noProfileImgExist(user)) {
                <img class="imgNoSelectedProfile" src="assets/img/non-user-selected.svg" alt="User Profile Image">
                }@else {
                <img class="userImg" src="{{ user.imgUrl }}" alt="User Profile Image">
                }

                @if (userIsOnline(user)) {
                <img class="userOnlineStatus" src="assets/icons/user-is-online-icon.svg" alt="Green Dot">
                }@else {
                <img class="userOnlineStatus" src="assets/icons/user-is-offline-icon.svg" alt="Gray Dot">
                }

                <p>{{ user.name }}</p>

                @if (isAlreadyChannelMember(user.userId)) {
                <p class="text">Channel Member</p>
                }

                @if(userIsSelected(user)) {
                <p class="text">Selected</p>
                }
            </div>
            }

            }
        </div>
        <!--------------------------------- User selection Menu --------------------------------->
        }


        <!--------------------------------- Container with added User from the User selection Menu --------------------------------->
        @if (noUserIsSelected()) {
        <div class="mainContainerAddedUserMenuSelection">

            @for (addedUsers of addedUsersToTheChannel.slice(0, 2); track $index) {
            <div class="childContainerAddedUserMenuSelection">

                @if (noProfileImgExist(addedUsers)) {
                <img class="imgNoSelectedProfileAddedUser" src="./assets/img/non-user-selected.svg"
                    alt="User Profile Image">
                }@else {
                <img class="userImgAddedUser" src="{{ addedUsers.imgUrl }}" alt="User Profile Image">
                }

                <p>{{ addedUsers.name }}</p>
                <img class="closeIcon" src="assets/icons/close-icon.svg" alt="Close Icon"
                    (click)="removeSelectedUser($index)">
            </div>
            }


            @if (moreThanTwoUsersSelected()) {
            <p class="text">+ {{ addedUsersToTheChannel.length - 2 }} more</p>
            }
        </div>
        }
        <!--------------------------------- Container with added User from the User selection Menu --------------------------------->


        <div class="btnContainer">
            <button type="submit" [disabled]="addedUsersToTheChannel.length == 0"
                [ngClass]="{'btnDisabled': addedUsersToTheChannel.length == 0}">
                Add
            </button>
        </div>
    </form>
</div>