@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


//////////////////// Disabled the hover Effects on touch Devices and add a active Effects
@media (pointer: coarse) {

    footer {

        a {

            &:hover {
                pointer-events: none;
            }
        }

        a {

            &:active {
                color: $darkPurple;
                border: 1px solid $lightPurple;
                font-weight: 500;
            }
        }
    }
}