<div [ngClass]="{'mainContainerDirectMessageOwnMessage': userIdMatchesWithIdFromLoggedinUser(), 
    'mainContainerDirectMessageFromOtherUser': !userIdMatchesWithIdFromLoggedinUser()}"
    (mouseleave)="closeOpenMenusInMessageIfHoverOutside()">

    @if (noProfileImgExistInMessage()) {
    <img class="imgNoSelectedProfile" src="assets/img/non-user-selected.svg" alt="Profile Image">
    }@else {
    <img src="{{ directMessage.userThatSendedMessage?.imgUrl }}" alt="Profile Image">
    }


    <div [ngClass]="{'container': !userIdMatchesWithIdFromLoggedinUser()}">

        <div [ngClass]="{'containerDirectMessageUpperPartOwnMessage': userIdMatchesWithIdFromLoggedinUser(), 
            'containerDirectMessageUpperPartFromOtherUser': !userIdMatchesWithIdFromLoggedinUser()}">

            <p>
                {{ directMessage.userThatSendedMessage?.name }}
            </p>

            <p>{{ directMessage.senderTime | date: 'HH:mm' }} Uhr</p>

        </div>


        @if (!messageIsInEditMode) {
        <p [ngClass]="{'messageTextOwnMessage': userIdMatchesWithIdFromLoggedinUser(), 
            'messageTextFromOtherUser': !userIdMatchesWithIdFromLoggedinUser()}">
            {{ directMessage.messageText }}
        </p>
        }


        <!--------------------------------- Inputfield to Edit Message --------------------------------->
        @if (messageIsInEditMode) {
        <form [formGroup]="editMessageForm" (ngSubmit)="editMessage()">
            <input type="text" placeholder="{{ directMessage.messageText }}" formControlName="inputfieldEditMessage">

            <div class="containerIcons">
                <button type="submit" [disabled]="editMessageForm.invalid">
                    <img src="assets/icons/check-icon.svg" alt="Check Icon"
                        [ngClass]="{'disabledBtn': editMessageForm.invalid}">
                </button>
                |
                <button type="button">
                    <img src="assets/icons/close-icon.svg" alt="Close Icon" (click)="closeEditModeFromMessage()">
                </button>
            </div>
        </form>
        }
        <!--------------------------------- Inputfield to Edit Message --------------------------------->


        <div [ngClass]="{'row': userIdMatchesWithIdFromLoggedinUser(), 'rowReverse': !userIdMatchesWithIdFromLoggedinUser()}"
            class="mainContainerDirectMessageLowerPart">

            <div class="childContainerDirectMessageLowerPart">
                <p>2 Answers</p>
                <p>Last Answer 12:55 Uhr</p>
            </div>


            <!--------------------------------- Selected Emojis --------------------------------->
            <!-- <div class="mainContainerSelctedEmojis">
                @if (directMessage.checkEmojiAmount >= 1) {
                <div class="childContainerSelctedEmojis" (click)="selectEmoji('assets/icons/check-emoji-icon.svg')">
                    <img class="singleIcon" src="assets/icons/check-emoji-icon.svg" alt="Emoji Icon">
                    <p>{{ directMessage.checkEmojiAmount }}</p>
                </div>
                }
                @if (directMessage.raisingBothHandsEmojiAmount >= 1) {
                <div class="childContainerSelctedEmojis"
                    (click)="selectEmoji('assets/icons/raising-both-hands-emoji-icon.svg')">
                    <img class="singleIcon" src="assets/icons/raising-both-hands-emoji-icon.svg" alt="Emoji Icon">
                    <p>{{ directMessage.raisingBothHandsEmojiAmount }}</p>
                </div>
                }
                @if (directMessage.nerdEmojiAmount >= 1) {
                <div class="childContainerSelctedEmojis" (click)="selectEmoji('assets/icons/nerd-emoji-icon.svg')">
                    <img class="singleIcon" src="assets/icons/nerd-emoji-icon.svg" alt="Emoji Icon">
                    <p>{{ directMessage.nerdEmojiAmount }}</p>
                </div>
                }
                @if (directMessage.rocketEmojiAmount >= 1) {
                <div class="childContainerSelctedEmojis" (click)="selectEmoji('assets/icons/rocket-emoji-icon.svg')">
                    <img class="singleIcon" src="assets/icons/rocket-emoji-icon.svg" alt="Emoji Icon">
                    <p>{{ directMessage.rocketEmojiAmount }}</p>
                </div>
                }
            </div> -->
            <!--------------------------------- Selected Emojis --------------------------------->
        </div>
    </div>


    <!--------------------------------- Bar to select Emojis --------------------------------->
    @if(barToSelectEmojisAreOpen) {
    <div [ngClass]="{'containerReactionBarRightSide': userIdMatchesWithIdFromLoggedinUser(), 
        'containerReactionBarLeftSide': !userIdMatchesWithIdFromLoggedinUser()}" class="containerReactionBar"
        style="top: 30px;">

        <img class="singleIcon" src="assets/icons/check-emoji-icon.svg" alt="Emoji Icon"
            (click)="selectEmoji('assets/icons/check-emoji-icon.svg')">

        <img class="singleIcon" src="assets/icons/raising-both-hands-emoji-icon.svg" alt="Emoji Icon"
            (click)="selectEmoji('assets/icons/raising-both-hands-emoji-icon.svg')">

        <img class="singleIcon" src="assets/icons/nerd-emoji-icon.svg" alt="Emoji Icon"
            (click)="selectEmoji('assets/icons/nerd-emoji-icon.svg')">

        <img class="singleIcon" src="assets/icons/rocket-emoji-icon.svg" alt="Emoji Icon"
            (click)="selectEmoji('assets/icons/rocket-emoji-icon.svg')">
    </div>
    }
    <!--------------------------------- Bar to select Emojis --------------------------------->


    <!--------------------------------- Reaction Bar --------------------------------->
    <div [ngClass]="{'containerReactionBarRightSide':  userIdMatchesWithIdFromLoggedinUser(), 
        'containerReactionBarLeftSide': !userIdMatchesWithIdFromLoggedinUser()}" class="containerReactionBar">

        <div class="containerSingleIcon" (click)="openBarToSelectEmojis()">
            <img src="assets/icons/add-emojis-icon.svg" alt="Add Emoji Icon">
        </div>

        <div class="containerSingleIcon" (click)="openThreadDirectMessage()"
            routerLink="/mainView/directMessage/{{ userId }}/thread/{{ directMessageId }}">
            <img src="assets/icons/open-thread-icon.svg" alt="Open Thread Icon">
        </div>

        @if (userIdMatchesWithIdFromLoggedinUser()) {
        <div class="containerSingleIcon" (click)="openMenuMoreOptions()">
            <img src="assets/icons/more-options-icon.svg" alt="More Options Icon">
        </div>
        }
    </div>
    <!--------------------------------- Reaction Bar --------------------------------->


    <!--------------------------------- Menu more Options --------------------------------->
    @if(menuMoreOptionsAreOpen) {
    <div class="containerMenuMoreOptions">
        <p (click)="openEditModeFromMessage()">Edit Message</p>
        <p (click)="deleteMessage()">Delete Message</p>
    </div>
    }
    <!--------------------------------- Menu more Options --------------------------------->
</div>