<div class="overlay">
    @if(authService.accountIsCreated) {
    <p class="popSuccessfully">Account created successfully!</p>

    } @else if (authService.accountIsCreatedFailed) {
    <p class="popFailed">
        Account creation failed!
        <br>
        The entered Email already exist.
    </p>

    }@else if (authService.loginFailed) {
    <p class="popFailed">
        Login failed!
        <br>
        The entered Email or Password are wrong.
    </p>

    } @else if(authService.emailWasSentToResetPassword) {
    <p class="popSuccessfully">
        <img src="./assets/icons/send-message-icon-white.svg" alt="Send Icon">
        Email sent
    </p>

    }@else if (authService.passwordReseted) {
    <p class="popSuccessfully">Login</p>
    }

    @if(createDirectMessageService.directMessagesSuccessfullySend || createChannelMessageService.channelMessagesSuccessfullySend) {

    <div class="containerUserFeedbackMessage">
        <p>Your Messages was send to:</p>

        <div class="containerText">
            @for (user of selectedUsers; track $index) {
            <!------------------ &#64; ==> Means @ sign ------------------>
            <p>&#64;{{ user.name + ' ' }}</p>
            }

            @for (channel of selectedChannels; track $index) {
            <p>#{{ channel.channelName + ' ' }}</p>
            }
        </div>
    </div>

    }
</div>