@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


//////////////////// Width
@media screen and (max-width: 510px) {

    .overlay {

        p {
            font-size: 18px;
        }
    }
}


@media screen and (max-width: 465px) {

    .overlay {

        p {
            width: 175px;
        }
    }
}


@media screen and (max-width: 385px) {

    .containerUserFeedbackMessage {
        width: 170px;
        font-size: 18px;
    }
}