@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


//////////////////// Width
@media screen and (max-width: 540px) {

    header {
        justify-content: center;

        img {
            width: 200px;
        }
    }

    .containerTextAndLink {
        display: none;
    }
}


//////////////////// Disabled the hover Effects on touch Devices and add a active Effects
@media (pointer: coarse) {

    .containerTextAndLink {

        a {

            &:hover {
                color: $purple;
                border: unset;
                font-weight: unset;
            }
        }

        a {

            &:active {
                color: $darkPurple;
                border: 1px solid $lightPurple;
                font-weight: 500;
            }
        }
    }
}