<div [ngClass]="{'overlay': emojiPickerIsDisplayed}" (click)="closeEmojiPickerIfClickOutside()"></div>

<div [ngClass]="{'mainContainerChannelMessageOwnMessage': userIdMatchesWithIdFromLoggedinUser(), 
    'mainContainerChannelMessageFromOtherUser': !userIdMatchesWithIdFromLoggedinUser()}"
    (mouseleave)="closeOpenMenusInMessageIfHoverOutside()">


    @if (noProfileImgExistInMessage()) {
    <img class="imgNoSelectedProfile" src="assets/img/non-user-selected.svg" alt="Profile Image">
    }@else {
    <img src="{{ channelMessage.userThatSendedMessage?.imgUrl }}" alt="Profile Image">
    }


    <div [ngClass]="{'container': !userIdMatchesWithIdFromLoggedinUser()}">

        <div [ngClass]="{'containerChannelMessageUpperPartOwnMessage': userIdMatchesWithIdFromLoggedinUser(), 
            'containerChannelMessageUpperPartFromOtherUser': !userIdMatchesWithIdFromLoggedinUser()}">

            <p>
                {{ channelMessage.userThatSendedMessage?.name }}
            </p>

            <p>{{ channelMessage.senderTime | date: 'HH:mm' }} Uhr</p>

        </div>


        @if (!messageIsInEditMode && channelMessage.messageText.trim() !== '') {
        <p [ngClass]="{'messageTextOwnMessage': userIdMatchesWithIdFromLoggedinUser(), 
            'messageTextFromOtherUser': !userIdMatchesWithIdFromLoggedinUser()}">
            {{ channelMessage.messageText }}
        </p>
        }


        <!--------------------------------- Textarea to Edit Message --------------------------------->
        @if (messageIsInEditMode) {
        <form [formGroup]="editMessageForm" (ngSubmit)="editMessage()">
            <textarea placeholder="{{ channelMessage.messageText }}" formControlName="textareaEditMessage">

            </textarea>


            <!--------------------------------- Emoji Picker --------------------------------->
            @if (emojiPickerIsDisplayed) {
            <emoji-mart [style]="{position: 'absolute', bottom: '0', left: '235px', 'z-index': '1'}"
                (emojiClick)="selectEmojiInEmojiPicker($event)">
            </emoji-mart>
            }
            <!--------------------------------- Emoji Picker --------------------------------->


            <div class="containerIconAndBtns"
                [ngStyle]="{'width': channelMessage.attachedFiles.length >= 1 ? '80%' : '90%'}">

                <div class="containerSmileyIcon" (click)="tootgleEmojiPicker()">
                    <img src="assets/icons/smiley-icon.svg" alt="Smiley Icon">
                </div>

                <div class="containerBtn">
                    <button type="button" (click)="closeEditModeFromMessage()">Cancel</button>

                    <button type="submit"
                        [disabled]="editMessageForm.invalid || editMessageForm.controls.textareaEditMessage.value?.trim() == ''"
                        [ngClass]="{'btnDisabled': editMessageForm.invalid || editMessageForm.controls.textareaEditMessage.value?.trim() == ''}">
                        Save
                    </button>
                </div>

            </div>
        </form>
        }
        <!--------------------------------- Textarea to Edit Message --------------------------------->


        <!--------------------------------- Displayed here the uploaded Images in Message --------------------------------->
        @for (uploadedImage of channelMessage.attachedFiles; track $index) {
        <img class="uploadedImage" src="{{ uploadedImage }}" alt="Uploaded Image"
            (click)="openImageDetailView(uploadedImage)">
        }
        <!--------------------------------- Displayed here the uploaded Images in Message --------------------------------->


        <div [ngClass]="{'row': userIdMatchesWithIdFromLoggedinUser(), 'rowReverse': !userIdMatchesWithIdFromLoggedinUser()}"
            class="mainContainerChannelMessageLowerPart">

            <div class="childContainerChannelMessageLowerPart">
                <p>2 Answers</p>
                <p>Last Answer 12:55 Uhr</p>
            </div>


            <!--------------------------------- Selected Emojis --------------------------------->
            <div class="mainContainerSelctedEmojis">
                @for(addedEmoji of channelMessage.addedEmojis; track $index) {
                <div class="childContainerSelctedEmojis" (click)="selectEmoji(addedEmoji.emojiUrl)"
                    (mouseenter)="displayTooltiAddedEmojip(addedEmoji.emojiUrl)" (mouseleave)="hideTooltipAddedEmoji()">

                    <img src="{{ addedEmoji.emojiUrl }}" alt="Emoji Icon">
                    <p>{{ addedEmoji.emojiAmount }}</p>


                    <!--------------------------------- Emoji Tooltip --------------------------------->
                    @if(emojiUrlMatchesWithEmojiUrlFromTooltip(addedEmoji.emojiUrl)) {
                    <div class="containerTooltip">
                        <img src="{{ addedEmoji.emojiUrl }}" alt="Emoji Icon">
                        <p>{{ addedEmoji.usersNameWhoHaveUsedTheEmoji }}</p>
                        <p>has react</p>
                    </div>
                    }
                    <!--------------------------------- Emoji Tooltip --------------------------------->

                </div>
                }
            </div>
            <!--------------------------------- Selected Emojis --------------------------------->
        </div>
    </div>


    <!--------------------------------- Bar to select Emojis --------------------------------->
    @if(barToSelectEmojisAreOpen) {
    <div [ngClass]="{'containerReactionBarRightSide': userIdMatchesWithIdFromLoggedinUser(), 
        'containerReactionBarLeftSide': !userIdMatchesWithIdFromLoggedinUser()}" class="containerReactionBar"
        style="top: 30px;">

        <img class="singleIcon" src="assets/icons/check-emoji-icon.svg" alt="Emoji Icon"
            (click)="selectEmoji('assets/icons/check-emoji-icon.svg')">

        <img class="singleIcon" src="assets/icons/raising-both-hands-emoji-icon.svg" alt="Emoji Icon"
            (click)="selectEmoji('assets/icons/raising-both-hands-emoji-icon.svg')">

        <img class="singleIcon" src="assets/icons/nerd-emoji-icon.svg" alt="Emoji Icon"
            (click)="selectEmoji('assets/icons/nerd-emoji-icon.svg')">

        <img class="singleIcon" src="assets/icons/rocket-emoji-icon.svg" alt="Emoji Icon"
            (click)="selectEmoji('assets/icons/rocket-emoji-icon.svg')">
    </div>
    }
    <!--------------------------------- Bar to select Emojis --------------------------------->


    <!--------------------------------- Reaction Bar --------------------------------->
    <div [ngClass]="{'containerReactionBarRightSide':  userIdMatchesWithIdFromLoggedinUser(), 
        'containerReactionBarLeftSide': !userIdMatchesWithIdFromLoggedinUser()}" class="containerReactionBar">

        <div class="containerSingleIcon" (click)="openBarToSelectEmojis()">
            <img src="assets/icons/add-emojis-icon.svg" alt="Add Emoji Icon">
        </div>

        <div class="containerSingleIcon"
            routerLink="/mainView/channel/{{ channelId }}/thread/{{ channelMessageId }}">
            <img src="assets/icons/open-thread-icon.svg" alt="Open Thread Icon">
        </div>

        @if (userIdMatchesWithIdFromLoggedinUser()) {
        <div class="containerSingleIcon" (click)="openMenuMoreOptions()">
            <img src="assets/icons/more-options-icon.svg" alt="More Options Icon">
        </div>
        }
    </div>
    <!--------------------------------- Reaction Bar --------------------------------->


    <!--------------------------------- Menu more Options --------------------------------->
    @if(menuMoreOptionsAreOpen) {
    <div class="containerMenuMoreOptions">
        <p (click)="openEditModeFromMessage()">Edit Message</p>
        <p (click)="deleteMessage()">Delete Message</p>
    </div>
    }
    <!--------------------------------- Menu more Options --------------------------------->
</div>