<div class="dialogBox">

    <div class="dialogBoxUpperPart">
        <p>Members</p>

        <div class="containerCloseIcon" mat-dialog-close>
            <img src="assets/icons/close-icon.svg" alt="Hashtag Icon">
        </div>
    </div>

    <ul>
        <div class="scrollingContainer">

            <li>
                <img src="assets/img/avatar-1.svg" alt="User Image">
                <img src="assets/icons/user-is-online-icon.svg" alt="Green Dot">
                <!-- <img src="assets/icons/user-is-offline-icon.svg" alt="Gray Dot"> -->
                <p>Tom</p>
            </li>

            <li>
                <img src="assets/img/avatar-1.svg" alt="User Image">
                <img src="assets/icons/user-is-online-icon.svg" alt="Green Dot">
                <!-- <img src="assets/icons/user-is-offline-icon.svg" alt="Gray Dot"> -->
                <p>Tom</p>
            </li>

            <li>
                <img src="assets/img/avatar-1.svg" alt="User Image">
                <img src="assets/icons/user-is-online-icon.svg" alt="Green Dot">
                <!-- <img src="assets/icons/user-is-offline-icon.svg" alt="Gray Dot"> -->
                <p>Tom</p>
            </li>

            <li>
                <img src="assets/img/avatar-1.svg" alt="User Image">
                <img src="assets/icons/user-is-online-icon.svg" alt="Green Dot">
                <!-- <img src="assets/icons/user-is-offline-icon.svg" alt="Gray Dot"> -->
                <p>Tom</p>
            </li>
            
        </div>


        <li>
            <div class="containerAddUserIcon">
                <img src="assets/icons/add-user-icon.svg" alt="Add User Icon">
            </div>

            <p>Add Members</p>
        </li>
    </ul>
</div>