<div class="dialogBox">

    <div class="dialogBoxUpperPart">
        <p>Members</p>

        <div class="containerCloseIcon" mat-dialog-close>
            <img src="assets/icons/close-icon.svg" alt="Hashtag Icon">
        </div>
    </div>

    <ul>
        <div class="scrollingContainer">

            @for (channelMember of data.channelMembers; track $index) {

            @if(!userIdMatchesWithIdFromLoggedinUser(channelMember)) {

            <li (click)="openDetailViewFromSelectedChannelMember(channelMember)">
                @if (noProfileImgExist(channelMember)) {
                <img class="imgNoSelectedProfile" src="assets/img/non-user-selected.svg" alt="User Profile Image">
                }@else {
                <img src="{{ channelMember.imgUrl }}" alt="User Image">
                }

                @if (userIsOnline(channelMember)) {
                <img src="assets/icons/user-is-online-icon.svg" alt="Green Dot">
                }@else {
                <img src="assets/icons/user-is-offline-icon.svg" alt="Gray Dot">
                }

                <p>{{ channelMember.name }}</p>
            </li>
            }
            }

        </div>


        <li class="containerLastListElement">
            <div class="containerAddUserIcon">
                <img src="assets/icons/add-user-icon.svg" alt="Add User Icon">
            </div>

            <p>Add Members</p>
        </li>
    </ul>
</div>