<main>
    <header>
        <img src="./assets/img/da-bubble-logo.svg" alt="DABubble Logo">
    </header>


    <div class="mainContainerAvatarPicker">

        <div class="avatarPickerBox">
            <div routerLink="/signup" class="containerArrowIcon">
                <img src="./assets/icons/arrow-icon.svg" alt="Arrow Icon">
            </div>

            <h1>Choose your Avatar</h1>

            @if (selectedImageAvatarUrl == '') {
            <img class="imgNonSelectedAvatar" src="./assets/img/non-user-selected.svg" alt="Image non selected Avatar">
            }@else {
            <img class="avatarImages" src="{{ selectedImageAvatarUrl }}" alt="Avatar Image">
            }

            <h2>{{ formDataService.user.name }}</h2>

            <div>
                <p class="text">Choose from the List</p>

                <div class="containerAvatarImages">
                    @for (avatarImageUrl of avatarImageUrls; track $index) {
                    <img (click)="selectAvatar(avatarImageUrl)" src="{{ avatarImageUrl }}" alt="Avatar Image"
                        [ngClass]="{'selectedAvatar': avatarImageUrl == selectedImageAvatarUrl}">
                    }
                </div>

                <div class="containerTextAndBtn">
                    <p>Use your own Image</p>

                    <label for="uploadFile">
                        Upload File
                        <input id="uploadFile" type="file" hidden>
                    </label>
                </div>

                <div class="containerBtn">
                    <button (click)="createAccount()" type="button">Further</button>
                </div>
            </div>

        </div>

    </div>


    <app-footer></app-footer>


    @if (formDataService.accountIsCreated) {
    <app-user-feedback-message></app-user-feedback-message>
    }
</main>