<main>
    <app-header></app-header>


    <div class="mainContainerAvatarPicker">

        <div class="avatarPickerBox">
            <div routerLink="/signup" class="containerArrowIcon">
                <img src="./assets/icons/arrow-icon.svg" alt="Arrow Icon">
            </div>

            <h1>Choose your Avatar</h1>


            @if (noAvatarIsSelected()) {
            <img class="imgNonSelectedAvatar" src="./assets/img/non-user-selected.svg" alt="Image non selected Avatar">

            }@else if(avatarIsSelected()){
            <img class="avatarImages" src="{{ storageService.selectedImageAvatarUrl }}" alt="Avatar Image">

            }@else if(imageUploadingIsInProgress()){
            <img class="spinnerIcon" src="./assets/icons/spinner-icon.svg" alt="Spinner Icon">

            }@else if(imageIsUploaded()){
            <img class="uploadedImg" src="{{ storageService.urlFromUploadedImg }}" alt="Uploaded Image">
            }


            <h2>{{ authService.user.name }}</h2>


            <div class="containerAvatarPickerBoxLowerPart">
                <p class="text">Choose from the List</p>

                <div class="containerAvatarImages">
                    @for (avatarImageUrl of storageService.avatarImageUrls; track $index) {
                    <img (click)="selectAvatar(avatarImageUrl)" src="{{ avatarImageUrl }}" alt="Avatar Image"
                        [ngClass]="{'selectedAvatar': avatarImageUrl == storageService.selectedImageAvatarUrl}">
                    }
                </div>

                <div class="containerTextAndBtn">
                    <p>Use your own Image</p>

                    <label for="uploadFile">
                        Upload File
                        <input id="uploadFile" type="file" hidden (change)="selectFile(selectedFile)" #selectedFile>
                    </label>
                </div>

                <div class="containerBtn">
                    <button (click)="createAccount()" type="button">Further</button>
                </div>
            </div>

        </div>

    </div>


    <app-footer></app-footer>


    @if (authService.accountIsCreated || authService.accountIsCreatedFailed) {
    <app-user-feedback-message></app-user-feedback-message>
    }
</main>