<div class="mainContainerWelcomeToDabubble">

    <h1>Welcome to the Chat messenger DABubble!</h1>

    <h2 class="secondHeadline">Click left of one of the Channel or Contacts to beginn Chatting.</h2>


    <!--------------------------------- Only displayed in the Mobile View --------------------------------->
    <div class="containerTextAndBtnMobileView d-none">
        <h2>Click on the Button below to Start.</h2>
        <button type="button" (click)="goToSidebarMobileView()">Further</button>
    </div>
    <!--------------------------------- Only displayed in the Mobile View --------------------------------->


    <p>Have Fun with DABubble!</p>

</div>