@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


//////////////////// Width
@media screen and (min-width: 2000px) {

    .moveInTheLeftUpperCorner {
        animation-name: moveInTheLeftUpperCorner;
    }

    @keyframes moveInTheLeftUpperCorner {

        from {
            transition: transform 350ms ease-in-out 450ms;
        }

        to {
            transform: translate(calc(-84.2vw / 2), -42vh);
            transition: transform 350ms ease-in-out 450ms;
        }
    }
}


@media screen and (max-width: 1900px) {

    .moveInTheLeftUpperCorner {
        animation-name: moveInTheLeftUpperCorner;
    }

    @keyframes moveInTheLeftUpperCorner {

        from {
            transition: transform 350ms ease-in-out 450ms;
        }

        to {
            transform: translate(calc(-83.3vw / 2), -42vh);
            transition: transform 350ms ease-in-out 450ms;
        }
    }
}


@media screen and (max-width: 1800px) {

    .moveInTheLeftUpperCorner {
        animation-name: moveInTheLeftUpperCorner;
    }

    @keyframes moveInTheLeftUpperCorner {

        from {
            transition: transform 350ms ease-in-out 450ms;
        }

        to {
            transform: translate(calc(-82.4vw / 2), -42vh);
            transition: transform 350ms ease-in-out 450ms;
        }
    }
}


@media screen and (max-width: 1700px) {

    .moveInTheLeftUpperCorner {
        animation-name: moveInTheLeftUpperCorner;
    }

    @keyframes moveInTheLeftUpperCorner {

        from {
            transition: transform 350ms ease-in-out 450ms;
        }

        to {
            transform: translate(calc(-81.4vw / 2), -42vh);
            transition: transform 350ms ease-in-out 450ms;
        }
    }
}


@media screen and (min-width: 1600px) {

    .containerIntro {

        img {
            width: 180px;
        }
    }

    .containerDabubbleLettering {

        img {
            width: 400px;
            margin-left: -400px;
        }
    }

    .moveInTheLeftUpperCorner {
        animation-name: moveInTheLeftUpperCorner;
    }

    @keyframes moveInTheLeftUpperCorner {

        from {
            transition: transform 350ms ease-in-out 450ms;
        }

        to {
            transform: translate(calc(-80.1vw / 2), -42vh);
            transition: transform 350ms ease-in-out 450ms;
        }
    }
}


@media screen and (max-width: 1286px) {

    .moveInTheLeftUpperCorner {
        animation-name: moveInTheLeftUpperCorner;
    }

    @keyframes moveInTheLeftUpperCorner {

        from {
            transition: transform 350ms ease-in-out 450ms;
        }

        to {
            transform: translate(calc(-75.4vw / 2), -41.7vh);
            transition: transform 350ms ease-in-out 450ms;
        }
    }
}


@media screen and (max-width: 1220px) {

    .moveInTheLeftUpperCorner {
        animation-name: moveInTheLeftUpperCorner;
    }

    @keyframes moveInTheLeftUpperCorner {

        from {
            transition: transform 350ms ease-in-out 450ms;
        }

        to {
            transform: translate(calc(-74vw / 2), -42vh);
            transition: transform 350ms ease-in-out 450ms;
        }
    }
}


@media screen and (max-width: 1170px) {

    .moveInTheLeftUpperCorner {
        animation-name: moveInTheLeftUpperCorner;
    }

    @keyframes moveInTheLeftUpperCorner {

        from {
            transition: transform 350ms ease-in-out 450ms;
        }

        to {
            transform: translate(calc(-72.8vw / 2), -41.9vh);
            transition: transform 350ms ease-in-out 450ms;
        }
    }
}


@media screen and (max-width: 1100px) {

    .moveInTheLeftUpperCorner {
        animation-name: moveInTheLeftUpperCorner;
    }

    @keyframes moveInTheLeftUpperCorner {

        from {
            transition: transform 350ms ease-in-out 450ms;
        }

        to {
            transform: translate(calc(-71.3vw / 2), -42vh);
            transition: transform 350ms ease-in-out 450ms;
        }
    }
}


@media screen and (max-width: 1060px) {

    .moveInTheLeftUpperCorner {
        animation-name: moveInTheLeftUpperCorner;
    }

    @keyframes moveInTheLeftUpperCorner {

        from {
            transition: transform 350ms ease-in-out 450ms;
        }

        to {
            transform: translate(calc(-70.1vw / 2), -41.9vh);
            transition: transform 350ms ease-in-out 450ms;
        }
    }
}


@media screen and (max-width: 1000px) {

    .moveInTheLeftUpperCorner {
        animation-name: moveInTheLeftUpperCorner;
    }

    @keyframes moveInTheLeftUpperCorner {

        from {
            transition: transform 350ms ease-in-out 450ms;
        }

        to {
            transform: translate(calc(-68.5vw / 2), -41.8vh);
            transition: transform 350ms ease-in-out 450ms;
        }
    }
}


@media screen and (max-width: 930px) {

    .moveInTheLeftUpperCorner {
        animation-name: moveInTheLeftUpperCorner;
    }

    @keyframes moveInTheLeftUpperCorner {

        from {
            transition: transform 350ms ease-in-out 450ms;
        }

        to {
            transform: translate(calc(-65.9vw / 2), -41.8vh);
            transition: transform 350ms ease-in-out 450ms;
        }
    }
}


@media screen and (max-width: 860px) {

    .moveInTheLeftUpperCorner {
        animation-name: moveInTheLeftUpperCorner;
    }

    @keyframes moveInTheLeftUpperCorner {

        from {
            transition: transform 350ms ease-in-out 450ms;
        }

        to {
            transform: translate(calc(-63.1vw / 2), -41.9vh);
            transition: transform 350ms ease-in-out 450ms;
        }
    }
}


@media screen and (max-width: 790px) {

    .moveInTheLeftUpperCorner {
        animation-name: moveInTheLeftUpperCorner;
    }

    @keyframes moveInTheLeftUpperCorner {

        from {
            transition: transform 350ms ease-in-out 450ms;
        }

        to {
            transform: translate(calc(-59.8vw / 2), -41.9vh);
            transition: transform 350ms ease-in-out 450ms;
        }
    }
}


@media screen and (max-width: 720px) {

    .moveInTheLeftUpperCorner {
        animation-name: moveInTheLeftUpperCorner;
    }

    @keyframes moveInTheLeftUpperCorner {

        from {
            transition: transform 350ms ease-in-out 450ms;
        }

        to {
            transform: translate(calc(-55.8vw / 2), -41.9vh);
            transition: transform 350ms ease-in-out 450ms;
        }
    }
}


@media screen and (max-width: 650px) {

    .moveInTheLeftUpperCorner {
        animation-name: moveInTheLeftUpperCorner;
    }

    @keyframes moveInTheLeftUpperCorner {

        from {
            transition: transform 350ms ease-in-out 450ms;
        }

        to {
            transform: translate(calc(-50.8vw / 2), -41.9vh);
            transition: transform 350ms ease-in-out 450ms;
        }
    }
}


@media screen and (max-width: 580px) {

    .moveInTheLeftUpperCorner {
        animation-name: moveInTheLeftUpperCorner;
    }

    @keyframes moveInTheLeftUpperCorner {

        from {
            transition: transform 350ms ease-in-out 450ms;
        }

        to {
            transform: translate(calc(-45vw / 2), -41.9vh);
            transition: transform 350ms ease-in-out 450ms;
        }
    }
}


@media screen and (max-width: 520px) {

    .containerIntro {

        img {
            width: 60px !important;
        }
    }

    .containerDabubbleLettering {

        img {
            width: 120px !important;
        }
    }

    .moveInTheLeftUpperCorner {
        animation-name: moveInTheLeftUpperCorner;
    }

    @keyframes moveInTheLeftUpperCorner {

        from {
            transition: transform 350ms ease-in-out 450ms;
        }

        to {
            transform: translate(calc(-1vw / 2), -43vh);
            transition: transform 350ms ease-in-out 450ms;
        }
    }
}


@media screen and (max-width: 450px) {

    .moveInTheLeftUpperCorner {
        animation-name: moveInTheLeftUpperCorner;
    }

    @keyframes moveInTheLeftUpperCorner {

        from {
            transition: transform 350ms ease-in-out 450ms;
        }

        to {
            transform: translate(calc(-1.8vw / 2), -43vh);
            transition: transform 350ms ease-in-out 450ms;
        }
    }
}


@media screen and (max-width: 340px) {

    .containerIntro {

        img {
            width: 60px;
        }
    }

    .containerDabubbleLettering {

        img {
            width: 170px;
        }
    }
}