<div class="mainContainerNewMessages">

    <div [ngClass]="{'overlay': emojiPickerIsDisplayed || usersInMenuSelectionAreDisplayed || channelsInMenuSelectionAreDisplayed}"
        (click)="closeEmojiPickerOrOtherMenuIfClickOutside()">
    </div>

    <!--------------------------------- Container Chat upper Part--------------------------------->
    <div class="containerNewMessagesUpperPart">
        <p>New Message</p>

        <form>
            <input type="text" placeholder="At: #channel or @somebody" [formControl]="inputField"
                (click)="openUserAndChannelMenuSelection()">


            <div class="containerUserAndChannelMenuSelection"
                [ngClass]="{'d-none': !usersInMenuSelectionAreDisplayed && !channelsInMenuSelectionAreDisplayed}">

                <!--------------------------------- Here will displayed the Users --------------------------------->
                @if (usersInMenuSelectionAreDisplayed) {

                <p class="text">People</p>

                @for (user of filteredUsers | async; track $index) {

                @if (userIdMatchesWithIdFromLoggedinUser(user.userId)) {

                <div class="containerUserNameAndImg" (click)="selectUser(user)"
                    [ngClass]="{'selectedUserOrChannel': checkIfUserAlreadySelected(user)}">

                    @if (noProfileImgExist(user)) {
                    <img class="imgNoSelectedProfile" src="assets/img/non-user-selected.svg" alt="User Profile Image">
                    }@else {
                    <img class="userImg" src="{{ user.imgUrl }}" alt="User Profile Image">
                    }

                    @if (userIsOnline(user)) {
                    <img class="userOnlineStatus" src="assets/icons/user-is-online-icon.svg" alt="Green Dot">
                    }@else {
                    <img class="userOnlineStatus" src="assets/icons/user-is-offline-icon.svg" alt="Gray Dot">
                    }

                    <p>{{ user.name }}</p>

                    @if (checkIfUserAlreadySelected(user)) {
                    <p class="textSelected">Selected</p>
                    }
                </div>

                }

                }

                @if ((filteredUsers | async)?.length == 0) {
                <!-- Checks if filteredUsers hat a Value or Users existing. If not the User get the Feedback "No People found" -->
                <p class="textNotSearchResultsFound">No People Found</p>
                }

                }
                <!--------------------------------- Here will displayed the Users --------------------------------->


                <!--------------------------------- Here will displayed the Channels --------------------------------->
                @if (channelsInMenuSelectionAreDisplayed) {

                <p class="text">Channels</p>

                @for (channel of filteredChannels | async; track $index) {
                <div class="containerChannelNameAndImg" (click)="selectChannel(channel)"
                    [ngClass]="{'selectedUserOrChannel': checkIfChannelAlreadySelected(channel)}">

                    <img src="assets/icons/hashtag-icon-black.svg" alt="Hashtag Icon">


                    <p>{{ channel.channelName }}</p>


                    @if (checkIfChannelAlreadySelected(channel)) {
                    <p class="textSelected">Selected</p>
                    }
                </div>

                }

                @if ((filteredChannels | async)?.length == 0) {
                <!-- Checks if filteredChannels hat a Value or Channels existing. If not the User get the Feedback "No Channels found" -->
                <p class="textNotSearchResultsFound">No Channels Found</p>
                }

                }
                <!--------------------------------- Here will displayed the Channels --------------------------------->

            </div>

        </form>

    </div>
    <!--------------------------------- Container Chat upper Part--------------------------------->


    <!--------------------------------- Container Chat Lower Part--------------------------------->
    <div class="containerNewMessagesLowerPart">

        <!--------------------------------- Here will displayed the added Users from the searchbar --------------------------------->
        @if (selectedUsers.length > 0) {
        <div class="mainContainerSelectedUsers">

            @for (user of selectedUsers.slice(0, 3); track $index) {
            <div class="containerSelectedUserOrChannel">

                @if (noProfileImgExist(user)) {
                <img class="imgNoSelectedProfileAddedUser" src="assets/img/non-user-selected.svg"
                    alt="User Profile Image">
                }@else {
                <img class="userImgAddedUser" src="{{ user.imgUrl }}" alt="User Profile Image">
                }

                <p>{{ user.name }}</p>

                <img class="closeIconSelectedUserOrChannel" src="assets/icons/close-icon.svg" alt="Close Icon"
                    (click)="removeSelectedUser($index)">
            </div>
            }

            @if (selectedUsers.length >= 4) {
            <p class="textMoreSelcted">+ {{ selectedUsers.length - 3 }} more</p>
            }
        </div>
        }
        <!--------------------------------- Here will displayed the added Users from the searchbar --------------------------------->


        <!--------------------------------- Here will displayed the added Channels from the searchbar --------------------------------->
        @if (selectedChannels.length > 0) {
        <div class="mainContainerSelectedChannels">

            @for (channel of selectedChannels.slice(0, 3); track $index) {
            <div class="containerSelectedUserOrChannel">

                <img class="hashtagIcon" src="assets/icons/hashtag-icon-black.svg" alt="Hashtag Icon">

                <p>{{ channel.channelName }}</p>

                <img class="closeIconSelectedUserOrChannel" src="assets/icons/close-icon.svg" alt="Close Icon"
                    (click)="removeSelectedChannel($index)">
            </div>
            }

            @if (selectedChannels.length >= 4) {
            <p class="textMoreSelcted">+ {{ selectedChannels.length - 3 }} more</p>
            }
        </div>
        }
        <!--------------------------------- Here will displayed the added Channels from the searchbar --------------------------------->


        <div class="containerForm" [ngStyle]="{'padding-bottom': storageService.uploadedImages.length >= 1 ? '11px' : '50px', 
            'margin-top': storageService.uploadedImages.length >= 1 ? '256px' : '266px'}">

            <form [formGroup]="addMessageForm" (ngSubmit)="sendMessage()"
                (keyup)="sendMessageIfPressOnEnterKey($event)">

                <textarea placeholder="Start a new Message" formControlName="textarea"></textarea>


                <!--------------------------------- Disaplyed here the uploaded Images --------------------------------->
                <div class="mainContainerUploadedImages">
                    @if (imageIsUploading()) {
                    <img class="spinnerIcon" src="assets/icons/spinner-icon.svg" alt="Spinner Icon">
                    }

                    @for (uploadedImage of storageService.uploadedImages; track $index) {
                    <div class="childContainerUploadedImages">
                        <img class="closeIcon" src="assets/icons/close-icon.svg" alt="Close Icon"
                            (click)="removeUploadedImage($index)">

                        <img src="{{ uploadedImage }}" alt="Uploaded Image"
                            (click)="openImageDetailView(uploadedImage)">
                    </div>
                    }
                </div>
                <!--------------------------------- Disaplyed here the uploaded Images --------------------------------->


                <!--------------------------------- Emoji Picker --------------------------------->
                @if (emojiPickerIsDisplayed) {
                <emoji-mart [style]="{position: 'absolute', bottom: '130px', 'z-index': '1'}"
                    (emojiClick)="selectEmoji($event)">
                </emoji-mart>
                }
                <!--------------------------------- Emoji Picker --------------------------------->


                <div class="mainContainerIcons">

                    <div class="containerIcons">
                        <div class="containerSingleIcon">

                            <label for="uploadFile">
                                <input type="file" id="uploadFile" #selectedFile hidden
                                    (change)="selectFile(selectedFile)">
                                <img class="plusIcon" src="assets/icons/plus-icon-gray.svg" alt="Plus Icon">
                            </label>

                        </div>

                        <hr>

                        <div class="containerSingleIcon" (click)="tootgleEmojiPicker()">
                            <img src="assets/icons/smiley-icon.svg" alt="Smiley Icon">
                        </div>
                    </div>


                    <button type="submit" [disabled]="(storageService.uploadedImages.length == 0 && addMessageForm.controls.textarea.value?.trim() == '') || 
                        (selectedUsers.length == 0 && selectedChannels.length == 0) ||
                        (addMessageForm.controls.textarea.value == null && storageService.uploadedImages.length == 0)"
                        [ngClass]="{'disabledBtn': (storageService.uploadedImages.length == 0 && addMessageForm.controls.textarea.value?.trim() == '') ||
                         (selectedUsers.length == 0 && selectedChannels.length == 0) ||
                         (addMessageForm.controls.textarea.value == null && storageService.uploadedImages.length == 0)}">

                        <img src="assets/icons/send-message-icon-light-purble.svg" alt="Send Icon" [ngClass]="{'disabledSendBtn': (storageService.uploadedImages.length == 0 && addMessageForm.controls.textarea.value?.trim() == '') || 
                            (selectedUsers.length == 0 && selectedChannels.length == 0) ||
                            (addMessageForm.controls.textarea.value == null && storageService.uploadedImages.length == 0) 
                          }">
                    </button>
                </div>
            </form>

        </div>

    </div>
    <!--------------------------------- Container Chat Lower Part--------------------------------->


    <!--------------------------------- Displayed here the Feedback for the User to which Channel or Users the new Message are written -------------------------------->
    <app-user-feedback-message
        [ngClass]="{'d-none': !createDirectMessageService.directMessagesSuccessfullySend && !createChannelMessageService.channelMessagesSuccessfullySend}"
        [selectedUsers]="selectedUsers" [selectedChannels]="selectedChannels">

    </app-user-feedback-message>
    <!--------------------------------- Displayed here the Feedback for the User to which Channel or Users the new Message are written -------------------------------->
</div>