@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';



.mainContainerNewMessages {
    width: 750px;
    border-radius: 30px;
    background-color: #ffffff;
}


.overlay {
    @include positionAbsolute(0, 0, 0, 0);
    z-index: 1;
}


.containerNewMessagesUpperPart {
    @include flexColumn();
    gap: 20px;
    border-radius: 30px 30px 0 0;
    padding: 32px 45px 20px 45px;
    box-shadow: 0px 2px 10px 0px #00000014;
    position: relative;

    p {
        font-size: 24px;
        font-weight: 700;
        margin: 0;
    }

    form {
        display: unset;
        border: unset;
        position: unset;
        width: unset;
        border: unset;

        &:hover {
            border: unset !important;
        }

        input {
            @include inputfieldOrTextarea(90%, 30px, 15px, 20px, 15px, 20px, 18px, #ffffff);
            @include inputfieldOrTextareaHover();
            @include inputfieldOrTextareaFocus();
            border: 1px solid $lightPurple;
            outline: none;
        }
    }
}


.containerUserAndChannelMenuSelection {
    @include flexColumn();
    @include positionAbsolute(120px, unset, 65px, unset);
    border: 1px solid $lightPurple;
    max-height: 145px;
    width: 400px;
    gap: 15px;
    border-radius: 0 20px 20px 20px;
    padding: 20px;
    z-index: 1;
    box-shadow: 0px 2px 10px 0px #00000014;
    background-color: #ffffff;
    overflow-y: scroll;
}


.containerUserNameAndImg {
    @include hover();
    @include flexCenteredYAxis();
    gap: 15px;
    position: relative;
    border-radius: 35px;
    padding: 4px 20px 4px 20px;

    p {
        font-size: 18px;
        margin: 18px 0 18px 0;
        font-weight: normal;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
    }

    &:hover {
        background-color: $bgColor;
    }
}


.userImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.imgNoSelectedProfile {
    background-color: $purple;
    width: 38px;
    padding: 6px;
    border-radius: 50%;
}


.userOnlineStatus {
    @include positionAbsolute(unset, 4px, 54px, unset);
    width: 12px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}


.textSelected {
    color: $middlePurple;
    font-size: 16px !important;
}


.containerChannelNameAndImg {
    @include hover();
    @include flexCenteredYAxis();
    gap: 15px;
    padding: 4px 20px 4px 20px;
    border-radius: 35px;

    p {
        font-size: 18px;
        margin: 18px 0 18px 0;
        font-weight: normal;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
    }

    &:hover {
        background-color: $bgColor;
    }
}


.textNotSearchResultsFound {
    font-size: 18px !important;
    text-align: center;
    font-weight: normal !important;
}


.text {
    font-size: 18px !important;
}


.mainContainerSelectedUsersAndChannels {
    @include flexCenteredYAxis();
    gap: 10px;
}


.containerSelectedUserOrChannel {
    @include flexCenteredYAxis();
    background-color: $bgColor;
    gap: 8px;
    padding: 3px 10px 3px 10px;
    border-radius: 35px;

    p {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
    }
}


.userImgAddedUser {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.imgNoSelectedProfileAddedUser {
    background-color: $purple;
    width: 25px;
    padding: 5px;
    border-radius: 50%;
}


.closeIconSelectedUserOrChannel {
    @include hover();
    width: 20px;

    &:hover {
        filter: brightness(0) saturate(100%) invert(28%) sepia(87%) saturate(2837%) hue-rotate(231deg) brightness(99%) contrast(91%);
        transform: scale(1.05);
    }
}


.hashtagIcon {
    width: 20px;
}


.textMoreSelcted {
    color: $middlePurple;
    font-size: 16px !important;
    font-weight: normal !important;
}


.containerNewMessagesLowerPart {
    background-color: #ffffff;
    border-radius: 0 0 30px 30px;
}


.containerForm {
    @include flexCenteredXAxis();
}


form {
    @include flexColumn();
    @include inputfieldOrTextareaHover();
    border: 1px solid $lightPurple;
    position: relative;
    width: 90%;
    border-radius: 20px;

    textarea {
        font-size: 18px;
        margin: 10px 10px 0 10px;
        padding: 0;
        font-family: "Figtree", sans-serif;
        outline: none;
        resize: none;
        border: unset;
    }
}


.mainContainerUploadedImages {
    @include flex();
    gap: 15px;
    padding: 10px 0 10px 10px;
    position: relative;
}


.spinnerIcon {
    position: absolute;
    top: -55px;
    left: 270px;
    z-index: 1;
    width: 120px;
}


.childContainerUploadedImages {
    position: relative;

    img {
        @include hover();
        width: 45px;
        height: 45px;
        border-radius: 8px;

        &:hover {
            opacity: 0.8;
        }
    }
}


.closeIcon {
    @include positionAbsolute(-8px, unset, 36px, unset);
    width: 18px !important;
    height: 18px !important;
    z-index: 1;
    background-color: #d3d3d3;

    &:hover {
        opacity: unset !important;
    }
}


.mainContainerIcons {
    @include flexSpaceBetween();
    padding: 0 10px 10px 10px;
}


.containerIcons {
    @include flex();
    gap: 5px;


    hr {
        background-color: $lightPurple;
        width: 1px;
        margin: 0;
        border: unset;
    }
}


.containerSingleIcon {
    @include hover();
    @include flex();
    border-radius: 50%;

    label {
        @include flex();
        @include hover();
    }

    img {

        &:hover {
            filter: brightness(0) saturate(100%) invert(32%) sepia(74%) saturate(1212%) hue-rotate(215deg) brightness(97%) contrast(107%);
        }
    }

    &:hover {
        background-color: $bgColor;
    }
}


.plusIcon {
    width: 35px;
}


button {
    @include hover();
    background-color: #ffffff;
    border: unset;

    img {
        filter: brightness(0) saturate(100%) invert(32%) sepia(36%) saturate(5695%) hue-rotate(229deg) brightness(91%) contrast(108%);
    }
}


.disabledSendBtn {
    @include hoverDisabled();
    filter: brightness(0) saturate(100%) invert(45%) sepia(28%) saturate(1754%) hue-rotate(205deg) brightness(110%) contrast(91%) !important;
}


.disabledBtn {

    &:hover {
        cursor: not-allowed;
    }
}


.selectedUserOrChannel {
    background-color: $bgColor;
}