<div class="dialogBox">

    <div class="dialogBoxUpperPart">
        <p>Create Channel</p>

        <div class="containerCloseIcon" mat-dialog-close>
            <img src="assets/icons/close-icon.svg" alt="Close Icon">
        </div>
    </div>

    <span>
        Channels are used by your team to communicate.
        Ideally they should be topic-related #marketing for example.
    </span>


    <form id="createChannelForm" [formGroup]="createChannelForm">
        <!--------------------------------- Inputfield Channel Name --------------------------------->
        <label for="channelName" form="createChannelForm">
            Channel Name
        </label>
        <input type="text" id="channelName" placeholder="e.g. cooperation Projects" formControlName="channelName"
            [ngClass]="{'errorInputfield': inputFieldChannelNameIsRequired() || inputfieldChannelNameIsToShort() || inputfieldChannelNameIsToLong()}">

        @if (inputFieldChannelNameIsRequired()) {
        <p class="errorMessage" style="margin: -5px 0 0 20px; height: unset;">
            Channel Name is required
        </p>
        }@else if (inputfieldChannelNameIsToShort()) {
        <p class="errorMessage" style="margin: -5px 0 0 20px; height: unset;">
            Channel Name must be at least 3 Characters long
        </p>
        }@else if (inputfieldChannelNameIsToLong()) {
        <p class="errorMessage" style="margin: -5px 0 0 20px; height: unset;">
            Channel Name can be a maximum of 15 characters long
        </p>
        }
        <!--------------------------------- Inputfield Channel Name --------------------------------->


        <!--------------------------------- Inputfield Channel Description --------------------------------->
        <label for="channelDescription" form="createChannelForm">
            Description <mark>(optional)</mark>
        </label>
        <input type="text" id="channelDescription" placeholder="Your Text here" formControlName="channelDescription"
            [ngClass]="{'errorInputfield': inputfieldChannelDescriptionIsToLong()}">

        @if (inputfieldChannelDescriptionIsToLong()) {
        <p class="errorMessage" style="margin: -5px 0 0 20px; height: unset;">
            Channel Description can be a maximum of 150 characters long
        </p>
        }
        <!--------------------------------- Inputfield Channel Description --------------------------------->


        <div class="containerBtn">
            <button type="button" (click)="openDialogAddPeople()"
                [disabled]="createChannelForm.invalid || createChannelForm.controls.channelName.value?.trim() == ''"
                [ngClass]="{'btnDisabled': createChannelForm.invalid || createChannelForm.controls.channelName.value?.trim() == ''}">
                Create
            </button>
        </div>
    </form>
</div>