<div class="dialogBox">

    <div [ngClass]="{'overlay': menuUserSelectionIsOpen}" (click)="closeUserMenuSelectionIfClickOutside()"></div>

    <div class="dialogBoxUpperPart">
        <p>Add People</p>

        <div class="containerCloseIcon" mat-dialog-close>
            <img src="assets/icons/close-icon.svg" alt="Close Icon">
        </div>
    </div>


    <form (ngSubmit)="createChannel()" id="addPeopleForm" [formGroup]="addPeopleForm">
        <!--------------------------------- Radio Button add all People --------------------------------->
        <label for="radioAddAllPeople" form="addPeopleForm" (click)="hideInputfieldToAddSpecificMembersToChannel()">
            <input type="radio" id="radioAddAllPeople" formControlName="radioAddPeople" name="radioAddPeople"
                value="radioAddAllPeople">
            Add all members of <mark>{{ data.channelData.channelName }}</mark>
        </label>
        <!--------------------------------- Radio Button add all People --------------------------------->


        <!--------------------------------- Radio Button add specific People --------------------------------->
        <label for="radioAddSpecificPeople" form="addPeopleForm"
            (click)="showInputfieldToAddSpecificMembersToChannel()">
            <input type="radio" id="radioAddSpecificPeople" name="radioAddPeople" value="radioAddSpecificPeople">
            Add certain People
        </label>
        <!--------------------------------- Radio Button add specific People --------------------------------->


        <!--------------------------------- Iputfield text -------------------------------->
        @if (inputFieldIsDisplayed) {
        <input type="text" formControlName="inputFieldAddPeople" placeholder="Enter Name"
            (click)="openMenuUserSelection()">
        }
        <!--------------------------------- Iputfield text -------------------------------->


        <!--------------------------------- User selection Menu --------------------------------->
        @if(menuUserSelectionIsOpen) {
        <div class="containerUserMenuSelection">

            @for (user of filteredUsers | async; track $index) {

            @if (userIdMatchesWithIdFromLoggedinUser(user.userId)) {

            <div class="containerUserNameAndImg" (click)="addUserToChannel(user)"
                [ngClass]="{'selectedUser': userIsSelected(user)}">


                @if (noProfileImgExist(user)) {
                <img class="imgNoSelectedProfile" src="./assets/img/non-user-selected.svg" alt="User Profile Image">
                }@else {
                <img class="userImg" src="{{ user.imgUrl }}" alt="User Profile Image">
                }

                @if (userIsOnline(user)) {
                <img class="userOnlineStatus" src="./assets/icons/user-is-online-icon.svg" alt="Green Dot">
                }@else {
                <img class="userOnlineStatus" src="assets/icons/user-is-offline-icon.svg" alt="Gray Dot">
                }

                <p>{{ user.name }}</p>

                @if (userIsSelected(user)) {
                <p class="text">Selected</p>
                }

            </div>
            }

            }


            @if ((filteredUsers | async )?.length == 0) {
            <!-- Checks if filteredUsers hat a Value or Users existing. If not the User get the Feedback "No People found" -->
            <p class="textNotSearchResultsFound">No People found</p>
            }
        </div>
        }
        <!--------------------------------- User selection Menu --------------------------------->


        <!--------------------------------- Container with added User from the User selection Menu --------------------------------->
        @if (noUserIsSelected()) {
        <div class="mainContainerAddedUserMenuSelection">
            @for (addedUsers of addedUsersToTheChannel.slice(0, 2); track $index) {
            <div class="childContainerAddedUserMenuSelection">

                @if (noProfileImgExist(addedUsers)) {
                <img class="imgNoSelectedProfileAddedUser" src="./assets/img/non-user-selected.svg"
                    alt="User Profile Image">
                }@else {
                <img class="userImgAddedUser" src="{{ addedUsers.imgUrl }}" alt="User Profile Image">
                }

                <p>{{ addedUsers.name }}</p>
                <img class="closeIcon" src="assets/icons/close-icon.svg" alt="Close Icon"
                    (click)="removeSelectedUser($index)">
            </div>
            }


            @if (moreThanTwoUsersSelected()) {
            <p class="text">+ {{ addedUsersToTheChannel.length - 2 }} more</p>
            }
        </div>
        }
        <!--------------------------------- Container with added User from the User selection Menu --------------------------------->


        <div class="containerBtn">
            <button type="submit"
                [disabled]="!addPeopleForm.controls.radioAddPeople.value && addedUsersToTheChannel.length == 0"
                [ngClass]="{'btnDisabled': !addPeopleForm.controls.radioAddPeople.value && addedUsersToTheChannel.length == 0}">
                Create
            </button>
        </div>
    </form>
</div>