@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


.dialogBox {
    width: 500px;
    border-radius: 30px;
    padding: 40px;
}


.dialogBoxUpperPart {
    @include flexCenteredYAxis();
    @include flexSpaceBetween();
    margin-bottom: 30px;

    p {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
    }
}


.containerCloseIcon {
    @include flex();
    @include iconHover();
    border-radius: 50%;
    padding: 6px;

    &:hover {

        img {
            filter: brightness(0) saturate(100%) invert(35%) sepia(70%) saturate(4922%) hue-rotate(231deg) brightness(98%) contrast(92%);
        }
    }
}


form {
    @include flexColumn();
    gap: 20px;

    label {
        @include hover();
        // min-width: 100px;
    }

    input {
        @include hover();
    }
}


.containerBtn {
    @include flexEndXAxis();

    button {
        @include btnPrimary();
        @include btnPrimaryHover();
        @include btnPrimaryActive();
        padding: 12px 25px 12px 25px;
        border-radius: 25px;
        border: unset;
    }
}