<div class="flex">
    <div [ngClass]="{'overlay': emojiPickerIsDisplayed}" (click)="closeEmojiPickerIfClickOutside()"></div>

    <div class="mainContainerChatDirectMessages" [ngClass]="{'chatFullView':  workspaceMenuService.sidebarIsHidden}">

        <!--------------------------------- Container Chat upper Part--------------------------------->
        <div class="containerChatDirectMessagesUpperPart">

            @if (chatAreLoading()) {
            <img class="spinnerIconChatDirectMessagesUpperPart" src="assets/icons/spinner-icon.svg" alt="Spinner Icon">

            }@else {

            <div class="containerUserImageAndNameUpperPart" (click)="openProfileDetailView()">
                @if (noProfileImgExist()) {
                <img class="imgNoSelectedProfileChatDirectMessagesUpperPart" src="assets/img/non-user-selected.svg"
                    alt="User Profile Image">
                }@else {
                <img src="{{ createUserService.user.imgUrl }}" alt="User Profile Image">
                }

                @if (userIsOnline()) {
                <img src="assets/icons/user-is-online-icon.svg" alt="Green Dot">
                }@else {
                <img src="./assets/icons/user-is-offline-icon.svg" alt="Gray Dot">
                }

                <p>{{ createUserService.user.name }}</p>

                @if (userIdMatchesWithIdFromLoggedinUser()) {
                <p>(You)</p>
                }
            </div>
            }
        </div>
        <!--------------------------------- Container Chat upper Part--------------------------------->


        <!--------------------------------- Container Chat Lower Part--------------------------------->
        @if (chatAreLoading()) {
        <div class="containerSpinnerIconChatDirectMessagesLowerPart">
            <img src="assets/icons/spinner-icon.svg" alt="Spinner Icon">
        </div>

        }@else {

        <div class="containerChatDirectMessagesLowerPart">

            <div class="scrollingContainer" #scrollingContainer>

                <div class="containerUserImageAndNameLowerPart"
                    [ngStyle]="userIdMatchesWithIdFromLoggedinUser() ? {'margin-top': '94px'} : {'margin-top': '95px'}">

                    @if (noProfileImgExist()) {
                    <img class="imgNoSelectedProfileChatDirectMessagesLowerPart" src="assets/img/non-user-selected.svg"
                        alt="User Profile Image">
                    }@else {
                    <img class="imgSelectedProfileChatDirectMessagesLowerPart" src="{{ createUserService.user.imgUrl }}"
                        alt="User Profile Image">
                    }

                    <p>{{ createUserService.user.name }}</p>

                    @if (userIdMatchesWithIdFromLoggedinUser()) {
                    <p>(You)</p>
                    }
                </div>


                @if (userIdMatchesWithIdFromLoggedinUser()) {
                <p class="textInfoLoggedinUser">
                    <mark>This space is just for you.</mark> Take notes, list your to-dos, or keep links and files
                    handy.
                    You can also discuss things with yourself here.
                </p>
                }@else {
                <p class="text">
                    This conversation is only between you and
                    <mark (click)="openProfileDetailView()">
                        <!---------- &#64; means => @ Symbol  ---------->
                        &#64;{{ createUserService.user.name }}.
                    </mark>
                </p>
                }


                <!-- <div class="containerTimeWhenTheMessageWasSent">
                    <hr>
                    <p>{{ senderTimeFromSendedMessage | customDate }}</p>
                    <hr>
                </div> -->


                <!-- @if (isToday()) {
                <div class="containerTimeWhenTheMessageWasSent">
                    <hr>
                    <p>Today</p>
                    <hr>
                </div>
                } -->

                <!-- @if (isYesterday()) {
                    <div class="containerTimeWhenTheMessageWasSent">
                        <hr>
                        <p>Yesterday</p>
                        <hr>
                    </div>
                    }
    
                    @if(!isToday() && !isYesterday()) {
                    <div class="containerTimeWhenTheMessageWasSent">
                        <hr>
                        <p>{{ this.senderTimeFromSendedMessage | date: 'EEEE, dd LLLL' }}</p>
                        <hr>
                    </div> -->


                @for (directMessage of createDirectMessageService.directMessagesAsObservable | async; track $index) {
                <app-message [directMessage]="directMessage" [directMessageId]="directMessage.id"
                    (getSenderTimeFromSendedMessage)="setSenderTimeFromSendedMessage($event)">
                </app-message>
                }


            </div>


            <div class="containerForm"
                [ngStyle]="{'padding': storageService.imgIsUploaded ? '13px 0 9px 0' : '35px 0 35px 0'}">

                <form [formGroup]="addMessageForm" (ngSubmit)="sendDirectMessage()"
                    (keyup)="sendDirectMessageIfPressOnEnterKey($event)">


                    <textarea placeholder="Message to {{ createUserService.user.name }}" formControlName="textarea"
                        [ngClass]="{'quillEditorFullView':  workspaceMenuService.sidebarIsHidden}">
                    </textarea>



                    <div class="mainContainerUploadedImages">
                        @if (imageIsUploading()) {
                        <img class="spinnerIcon" src="assets/icons/spinner-icon.svg" alt="Spinner Icon">
                        }@else {

                        @for (uploadedImage of storageService.uploadedImages; track $index) {
                        <div class="childContainerUploadedImages">
                            <img class="closeIcon" src="assets/icons/close-icon.svg" alt="Close Icon"
                                (click)="removeUploadedImage($index)">

                            <img src="{{ uploadedImage }}" alt="Uploaded Image"
                                (click)="openImageDetailView(uploadedImage)">
                        </div>
                        }
                        }
                    </div>

                    <!-- <quill-editor placeholder="Message to {{ createUserService.user.name }}"
                        formControlName="inputfieldQuillEditor" (onSelectionChanged)="focusQuillEditor($event)"
                        [ngClass]="{'quillEditorFullView':  workspaceMenu.sidebarIsHidden}">
                    </quill-editor> -->


                    <!--------------------------------- Emoji Picker --------------------------------->
                    @if (emojiPickerIsDisplayed) {
                    <emoji-mart [style]="{position: 'absolute', bottom: '150px', left: '40px', 'z-index': '1'}"
                        (emojiClick)="selectEmoji($event)">
                    </emoji-mart>
                    }
                    <!--------------------------------- Emoji Picker --------------------------------->


                    <div class="mainContainerIcons">

                        <div class="containerIcons">
                            <div class="containerSingleIcon">

                                <label for="uploadFile">
                                    <input type="file" id="uploadFile" hidden (change)="selectFile(selectedFile)"
                                        #selectedFile>
                                    <img class="plusIcon" src="assets/icons/plus-icon-gray.svg" alt="Plus Icon">
                                </label>

                            </div>

                            <hr>

                            <div class="containerSingleIcon" (click)="tootgleEmojiPicker()">
                                <img src="assets/icons/smiley-icon.svg" alt="Smiley Icon">
                            </div>

                            <div class="containerSingleIcon">
                                <img src="assets/icons/@-icon.svg" alt="@ Icon">
                            </div>
                        </div>


                        <button type="submit"
                            [disabled]="(storageService.uploadedImages.length == 0 && addMessageForm.controls.textarea.value?.trim() == '') || addMessageForm.controls.textarea.value?.trim() == null"
                            [ngClass]="{'disabledBtn': (storageService.uploadedImages.length == 0 && addMessageForm.controls.textarea.value?.trim() == '') || addMessageForm.controls.textarea.value?.trim() == null}">
                            <img src="assets/icons/send-message-icon-light-purble.svg" alt="Send Icon"
                                [ngClass]="{'disabledSendBtn': (storageService.uploadedImages.length == 0 && addMessageForm.controls.textarea.value?.trim() == '') || addMessageForm.controls.textarea.value?.trim() == null}">
                        </button>
                    </div>
                </form>

            </div>

        </div>
        }
        <!--------------------------------- Container Chat Lower Part--------------------------------->

    </div>


    <!--------------------------------- Displayed here the opened Thread --------------------------------->
    <router-outlet></router-outlet>
    <!--------------------------------- Displayed here the opened Thread --------------------------------->
</div>