<div class="mainContainerChatDirectMessages">

    <!--------------------------------- Container Chat upper Part--------------------------------->
    <div class="containerChatDirectMessagesUpperPart">

        @if (contactAreLoading()) {
        <img class="spinnerIconChatDirectMessagesUpperPart" src="assets/icons/spinner-icon.svg" alt="Spinner Icon">

        }@else {

        <div class="containerUserImageAndNameUpperPart" (click)="openProfileDetailView()">
            @if (noProfileImgExist()) {
            <img class="imgNoSelectedProfileChatDirectMessagesUpperPart" src="assets/img/non-user-selected.svg"
                alt="User Profile Image">
            }@else {
            <img src="{{ createUserService.user.imgUrl }}" alt="User Profile Image">
            }

            @if (userIsOnline()) {
            <img src="assets/icons/user-is-online-icon.svg" alt="Green Dot">
            }@else {
            <img src="./assets/icons/user-is-offline-icon.svg" alt="Gray Dot">
            }

            <p>{{ createUserService.user.name }}</p>
        </div>
        }
    </div>
    <!--------------------------------- Container Chat upper Part--------------------------------->


    <!--------------------------------- Container Chat Lower Part--------------------------------->
    @if (contactAreLoading()) {
    <div class="containerSpinnerIconChatDirectMessagesLowerPart">
        <img class="spinnerIcon" src="assets/icons/spinner-icon.svg" alt="Spinner Icon">
    </div>

    }@else {

    <div class="containerChatDirectMessagesLowerPart">

        <div class="containerUserImageAndNameLowerPart">
            @if (noProfileImgExist()) {
            <img class="imgNoSelectedProfileChatDirectMessagesLowerPart" src="assets/img/non-user-selected.svg"
                alt="User Profile Image">
            }@else {
            <img class="imgSelectedProfileChatDirectMessagesLowerPart" src="{{ createUserService.user.imgUrl }}"
                alt="User Profile Image">
            }

            <p>{{ createUserService.user.name }}</p>
        </div>
        <!---------- &#64; means => @ Symbol  ---------->
        <p class="text">
            This conversation is only between you and <mark>&#64;{{ createUserService.user.name }}</mark>.
        </p>


        <div class="containerQuillEditor">

            <quill-editor placeholder="Message to {{ createUserService.user.name }}"
                (onSelectionChanged)="focusQuillEditor($event)">
            </quill-editor>

            <div class="mainContainerIcons">

                <div class="containerIcons">
                    <div class="containerSingleIcon">
                        <img class="plusIcon" src="assets/icons/plus-icon-gray.svg" alt="Plus Icon">
                    </div>

                    <hr>

                    <div class="containerSingleIcon">
                        <img src="assets/icons/smiley-icon.svg" alt="Smiley Icon">
                    </div>

                    <div class="containerSingleIcon">
                        <img src="assets/icons/@-icon.svg" alt="@ Icon">
                    </div>
                </div>

                <img src="assets/icons/send-message-icon-light-purble.svg" alt="Send Icon">

            </div>

        </div>

    </div>
    }
    <!--------------------------------- Container Chat Lower Part--------------------------------->

</div>