<div class="mainContainerChatDirectMessages">

    <div class="containerChatDirectMessagesUpperPart">

        <div class="containerUserImageAndNameUpperPart">
            <img class="" src="assets/img/avatar-1.svg" alt="User Profile Image">
            <img src="assets/icons/user-is-online-icon.svg" alt="Green Dot">

            <!-- <img src="./assets/icons/user-is-offline-icon.svg" alt="Gray Dot"> -->
            <p>Tom</p>
        </div>

    </div>

    <div class="containerChatDirectMessagesLowerPart">

        <div class="containerUserImageAndNameLowerPart">
            <img class="" src="assets/img/avatar-1.svg" alt="User Profile Image">
            <p>Tom</p>
        </div>
        <!---------- &#64; means => @ Symbol  ---------->
        <p class="text">This conversation is only between you and <mark>&#64;Tom</mark>.</p>

        <div class="containerQuillEditor">
            <quill-editor placeholder="Message to Tom"></quill-editor>
        </div>

    </div>

</div>