@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


.mainContainerThread {
    width: 365px;
    border-radius: 30px;
    margin-right: 15px;
    background-color: #ffffff;
}


.overlay {
    @include positionAbsolute(0, 0, 0, 0);
    z-index: 1;
}


.containerThreadUpperPart {
    border-radius: 30px 30px 0 0;
    padding: 28px 40px 30px 40px;
    box-shadow: 0px 2px 10px 0px #00000014;
}


.containerTextAndImage {
    @include flexCenteredYAxis();
    @include flexSpaceBetween();
}


.containerImageAndChannelName {
    @include flexCenteredYAxis();
    gap: 5px;
    position: relative;

    p:nth-of-type(1) {
        font-size: 24px;
        font-weight: 700;
    }

    p:nth-of-type(2) {
        color: $purple;
        width: 100px;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    img {
        width: 20px;
        filter: brightness(0) saturate(100%) invert(56%) sepia(33%) saturate(5425%) hue-rotate(213deg) brightness(98%) contrast(94%);
    }

    p {
        margin: 0;
    }
}


.spinnerIconInThreadUpperPart {
    @include positionAbsolute(-23px, unset, 95px, unset);
    width: 75px !important;
}


.containerCloseIcon {
    @include iconHover();
    @include flex();
    padding: 6px;

    &:hover {

        img {
            filter: brightness(0) saturate(100%) invert(35%) sepia(70%) saturate(4922%) hue-rotate(231deg) brightness(98%) contrast(92%);
        }
    }
}


.scrollingContainer {
    overflow-y: hidden;
    height: 300px;
    padding-bottom: 25px;

    &:hover {
        transition: all 225ms ease-in-out;
        overflow-y: scroll;
    }
}


.containerSpinnerIcon {
    @include flexCenteredXAxis();
    padding-top: 80px;
}


.containerForm {
    @include flexCenteredXAxis();
}



form {
    @include flexColumn();
    @include inputfieldOrTextareaHover();
    border: 1px solid $lightPurple;
    position: relative;
    width: 90%;
    border-radius: 20px;

    textarea {
        font-size: 18px;
        margin: 10px 10px 0 10px;
        padding: 0;
        font-family: "Figtree", sans-serif;
        outline: none;
        resize: none;
        border: unset;
    }
}


.mainContainerUploadedImages {
    @include flex();
    gap: 15px;
    z-index: 2;
    padding: 10px 0 10px 10px;
    position: relative;
}


.spinnerIcon {
    @include positionAbsolute(-65px, unset, 110px, unset);
    width: 120px;
}


.childContainerUploadedImages {
    position: relative;

    img {
        @include hover();
        width: 45px;
        height: 45px;
        border-radius: 8px;

        &:hover {
            opacity: 0.8;
        }
    }
}


.closeIcon {
    @include positionAbsolute(-8px, unset, 36px, unset);
    width: 18px !important;
    height: 18px !important;
    z-index: 1;
    background-color: #d3d3d3;

    &:hover {
        opacity: unset !important;
    }
}


.mainContainerIcons {
    @include flexSpaceBetween();
    padding: 0 10px 10px 10px;
}


.containerIcons {
    @include flex();
    gap: 5px;


    hr {
        background-color: $lightPurple;
        width: 1px;
        margin: 0;
        border: unset;
    }
}


.containerSingleIcon {
    @include hover();
    @include flex();
    border-radius: 50%;

    label {
        @include flex();
        @include hover();

        input {
            @include positionAbsolute(72px, 12px, 10px, 283px);
            @include hover();
            z-index: 1;
            opacity: 0;
        }
    }

    img {
        @include hover();

        &:hover {
            filter: brightness(0) saturate(100%) invert(32%) sepia(74%) saturate(1212%) hue-rotate(215deg) brightness(97%) contrast(107%);
        }
    }

    &:hover {
        background-color: $bgColor;
    }
}


.plusIcon {
    width: 35px;
}


button {
    @include hover();
    background-color: #ffffff;
    border: unset;

    img {
        filter: brightness(0) saturate(100%) invert(32%) sepia(36%) saturate(5695%) hue-rotate(229deg) brightness(91%) contrast(108%);
    }
}


.disabledSendBtn {
    @include hoverDisabled();
    filter: brightness(0) saturate(100%) invert(45%) sepia(28%) saturate(1754%) hue-rotate(205deg) brightness(110%) contrast(91%) !important;
}


.disabledBtn {

    &:hover {
        cursor: not-allowed;
    }
}