<header>

    @if (!workspaceMenuService.inChatDirectMessagesMobileView && !workspaceMenuService.inNewMessageMobileView) {
    <img class="dabubbleLogo" src="assets/img/da-bubble-logo.svg" alt="DABubble Logo">
    }


    <!---------------- Only shown when chatting with a Contact or in Channel or create a new Message ---------------->
    @if (workspaceMenuService.inChatDirectMessagesMobileView || workspaceMenuService.inNewMessageMobileView) {
    <div class="containerImages" (click)="directBackToSidebar()">
        <img src="/assets/icons/arrow-icon-profile.svg" alt="Arrow Icon">
        <img src="assets/img/workspace-logo.svg" alt="Workspace Logo">
    </div>
    }
    <!---------------- Only shown when chatting with a Contact or in Channel or create a new Message ---------------->


    <div class="containerProfileImg" [matMenuTriggerFor]="menu">

        @if (userDataLoading()) {
        <img class="spinnerIcon" src="assets/icons/spinner-icon.svg" alt="Spinner Icon">
        }@else {

        @if (noProfileImgExist()) {
        <img class="imgNoSelectedProfile" src="assets/img/non-user-selected.svg" alt="Profile Image">
        }@else {
        <img class="profileImg" src="{{ authService.user.imgUrl }}" alt="Profile Image">
        }

        @if (guestUserIsLoggedIn()) {
        <!---------------- No online Status will displayed if Guest User is Logged in ---------------->
        <img class="d-none">
        }@else if(userIsOnline()) {
        <img class="iconOnlineStatus" src="./assets/icons/user-is-online-icon.svg" alt="Green Dot">
        }@else {
        <img class="iconOnlineStatus" src="./assets/icons/user-is-offline-icon.svg" alt="Gray Dot">
        }
        }
    </div>


    <mat-menu #menu>
        <button class="btnMatMenu" (click)="openProfileDetailView()">Profile</button>
        <button class="btnMatMenu" (click)="logout()">Log out</button>
        <button class="btnMatMenu" routerLink="/legalNotice">Legal Notice</button>
        <button class="btnMatMenu" routerLink="/privacyPolicy">Privacy Policy</button>
    </mat-menu>

</header>