@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


.dialogBox {
    padding: 40px;

    h1 {
        color: $darkPurple;
        margin-top: 0;
        font-size: 46px;
    }

    h2 {
        font-size: 32px;
    }

    span {
        font-size: 20px;
        line-height: 1.3;
    }
}


.btnContainer {
    @include flexCenteredXAxis();
    margin-top: 30px;

    button {
        @include btnPrimaryHover();
        @include btnPrimaryActive();
        @include btnPrimary();
        padding: 15px 50px 15px 50px;
        border-radius: 25px;
        border: unset;


        &:focus {
            outline: none;
        }
    }
}