@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


//////////////////// Width
@media screen and (max-width: 1000px) {

    .mainContainerThread {
        width: 100%;
        margin-right: 0;
    }

    .containerAmountOfMessages {

        hr {
            width: 85%;
        }
    }
}


@media screen and (max-width: 900px) {

    .containerAmountOfMessages {

        hr {
            width: 83%;
        }
    }
}


@media screen and (max-width: 800px) {

    .containerAmountOfMessages {

        hr {
            width: 81%;
        }
    }
}


@media screen and (max-width: 700px) {

    .containerAmountOfMessages {

        hr {
            width: 79%;
        }
    }
}


@media screen and (max-width: 600px) {

    .containerAmountOfMessages {

        hr {
            width: 75%;
        }
    }
}


@media screen and (max-width: 540px) {

    .containerAmountOfMessages {

        hr {
            width: 71%;
        }
    }
}


@media screen and (max-width: 475px) {

    .containerAmountOfMessages {
        flex-direction: column;
        margin-top: 7px;
        padding-left: 0;

        hr {
            width: 85%;
        }
    }
}


@media screen and (max-width: 415px) {

    .spinnerIcon {
        left: 40px;
    }
}


@media screen and (max-width: 390px) {

    .containerTextAndImage {

        p {
            font-size: 18px;
        }
    }
}


@media screen and (max-width: 350px) {

    .containerAmountOfMessages {

        hr {
            width: 80%;
        }
    }
}


//////////////////// Height
@media screen and (max-height: 600px) {

    .mainContainerThread {
        margin-bottom: 15px;
    }
}


//////////////////// Disabled the hover Effects on touch Devices and add active Effects
@media (pointer: coarse) {

    .containerCloseIcon {

        &:hover {
            background-color: unset;

            img {
                filter: unset;
            }
        }

        &:active {
            background-color: $bgColor;

            img {
                filter: brightness(0) saturate(100%) invert(32%) sepia(74%) saturate(1212%) hue-rotate(215deg) brightness(97%) contrast(107%);
            }
        }
    }

    .containerSingleIcon {

        &:hover {
            background-color: unset;

            img {
                filter: unset;
            }
        }

        &:active {
            background-color: $bgColor;

            img {
                filter: brightness(0) saturate(100%) invert(32%) sepia(76%) saturate(3470%) hue-rotate(230deg) brightness(98%) contrast(93%);
            }
        }
    }
}