@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


//////////////////// Width
@media screen and (max-width: 1000px) {

    .flex {
        width: 100%;
    }

    .mainContainerChatChannelMessages {
        margin: 0;
    }

    .containerUserImages {
        display: none;
    }
}


@media screen and (max-width: 640px) {

    .containerTimeWhenTheMessageWasSent {

        hr {
            width: 29%;
        }
    }
}


@media screen and (max-width: 500px) {

    .containerImageAndChannelNameLowerPart {
        margin: 170px 0 0 40px;
    }

    .containerText {
        flex-direction: column;
        align-items: flex-start;

        p {
            margin-bottom: 0;
        }
    }

    .containerTimeWhenTheMessageWasSent {

        hr {
            width: 26%;
        }
    }
}


@media screen and (max-width: 430px) {

    .containerTimeWhenTheMessageWasSent {

        hr {
            width: 22%;
        }
    }
}


@media screen and (max-width: 440px) {

    .containerImageAndChannelNameUpperPart {

        p {
            max-width: 100px;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}


@media screen and (max-width: 415px) {

    .containerImageAndChannelNameUpperPart {

        p {
            font-size: 18px;
        }

        img:nth-last-of-type(1) {
            width: 12px;
        }

        img:nth-last-of-type(2) {
            width: 22px;
        }
    }

    .containerImageAndChannelNameLowerPart {
        margin-top: 90px;

        p {
            font-size: 18px;
        }
    }

    .containerText {

        p {
            font-size: 18px;
        }

        mark {
            font-size: 18px;
        }
    }

    .containerTimeWhenTheMessageWasSent {

        hr {
            width: 16%;
        }
    }
}


@media screen and (max-width: 340px) {

    .containerChatChannelMessagesUpperPart {
        padding: 25px 35px 25px 35px;
        justify-content: unset;
        gap: 5px;
    }
}


@media screen and (max-width: 320px) {

    .containerImageAndChannelNameLowerPart {

        p {
            max-width: 100px;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .containerChatChannelMessagesUpperPart {
        padding: 25px 15px 25px 15px;
    }
}


@media screen and (max-width: 300px) {

    .spinnerIcon {
        left: 40px;
    }
}


//////////////////// Height
@media screen and (max-height: 600px) {

    .mainContainerChatChannelMessages {
        margin-bottom: 15px;
    }
}


//////////////////// Disabled the hover Effects on touch Devices and add active Effects
@media (pointer: coarse) {

    .containerImageAndChannelNameUpperPart {

        &:hover {
            background-color: unset;

            img {
                filter: unset;
            }

            p {
                color: #000000;
            }
        }

        &:active {
            background-color: $bgColor;

            img {
                filter: brightness(0) saturate(100%) invert(31%) sepia(49%) saturate(5034%) hue-rotate(231deg) brightness(99%) contrast(90%);
            }

            p {
                color: $middlePurple;
            }
        }
    }

    .containerUserImages {

        &:hover {
            background-color: unset;

            p {
                color: #000000;
            }
        }

        &:active {
            background-color: $bgColor;

            p {
                color: $middlePurple;
            }
        }
    }

    .containerAddUserIcon {

        &:hover {

            img {
                filter: unset;
            }
        }

        &:active {

            img {
                filter: brightness(0) saturate(100%) invert(31%) sepia(49%) saturate(5034%) hue-rotate(231deg) brightness(99%) contrast(90%);
            }
        }
    }

    .containerImageAndChannelNameLowerPart {

        &:hover {
            background-color: unset;

            img {
                filter: unset;
            }

            p {
                color: #000000;
            }

            img:nth-of-type(2) {
                display: none;
            }
        }

        &:active {
            background-color: $bgColor;

            img {
                filter: brightness(0) saturate(100%) invert(31%) sepia(49%) saturate(5034%) hue-rotate(231deg) brightness(99%) contrast(90%);
            }

            p {
                color: $middlePurple;
            }

            img:nth-of-type(2) {
                display: flex;
            }
        }
    }

    .containerSingleIcon {

        &:hover {
            background-color: unset;

            img {
                filter: unset;
            }
        }

        &:active {
            background-color: $bgColor;

            img {
                filter: brightness(0) saturate(100%) invert(32%) sepia(74%) saturate(1212%) hue-rotate(215deg) brightness(97%) contrast(107%);
            }
        }
    }
}