<main>
    <header>
        <img src="./assets/img/da-bubble-logo.svg" alt="DABubble Logo">

        <div class="containerText">
            <p>New to DABubble?</p>
            <p>Create Account</p>
        </div>
    </header>


    <div class="mainContainerloginBox">

        <div class="loginBox">
            <h1>Log in</h1>
            <p>We recommend that you use the email address you use at work.</p>

            <form>
                <input class="inputFieldEmail" type="email" placeholder="beispielname@email.com">
                <input class="inputFieldPassword" type="password" placeholder="Password">
                <p>Forgot Password?</p>
            </form>
        </div>

    </div>
</main>