<main>
    <header>
        <img src="./assets/img/da-bubble-logo.svg" alt="DABubble Logo">

        <div class="containerText">
            <p>New to DABubble?</p>
            <p>Create Account</p>
        </div>
    </header>


    <div class="mainContainerloginBox">

        <div class="loginBox">
            <h1>Log in</h1>
            <p class="text">We recommend that you use the email address you use at work.</p>

            <form (ngSubmit)="logIn()" [formGroup]="loginForm">
                <!--------------------------------- Inputfield Email --------------------------------->
                <input class="inputFieldEmail" type="email" placeholder="examplename@email.com" formControlName="email"
                    [ngClass]="{'errorInputfield': inputfieldEmailIsInvalid()}">

                @if (inputfieldEmailIsInvalid()) {
                <p class="errorMessage">Email is required</p>
                }
                <!--------------------------------- Inputfield Email --------------------------------->


                <!--------------------------------- Inputfield Password --------------------------------->
                <input class="inputFieldPassword" type="password" placeholder="Password" formControlName="password"
                    [ngClass]="{'errorInputfield': inputfieldPasswordIsInvalid()}">

                @if (inputfieldPasswordIsInvalid()) {
                <p style="margin-right: 372px !important;" class="errorMessage">Password is required</p>
                }
                <!--------------------------------- Inputfield Password --------------------------------->


                <p>Forgot Password?</p>

                <!-- <div class=" containerTextWithTwoLines">
                <hr>
                <p>OR</p>
                <hr>
                </div> -->

                <button class="btnSignInWithGoogle" type="submit">
                    <img src="./assets/icons/google-icon.svg" alt="Google Icon">
                    Sing in with Google
                </button>

                <div class="btnContainer">
                    <button class="btnPrimary" type="submit" [disabled]="loginForm.invalid"
                        [ngClass]="{'btnDisabled': loginForm.invalid}">
                        Log in
                    </button>
                    <button class="btnSecondary" type="button">Guest Log in</button>
                </div>
            </form>
        </div>

    </div>

    <app-footer></app-footer>
</main>