<main>
    <app-header></app-header>

    @if (!introIsHidden) {
    <app-intro></app-intro>
    }

    <div class="mainContainerloginBox">

        <div class="loginBox">
            <h1>Log in</h1>

            <form (ngSubmit)="logIn()" [formGroup]="loginForm">
                <!--------------------------------- Inputfield Email --------------------------------->
                <input class="inputFieldEmail" type="email" placeholder="examplename@email.com" formControlName="email"
                    [ngClass]="{'errorInputfield': inputfieldEmailIsRequired()}">

                @if (inputfieldEmailIsRequired()) {
                <p class="errorMessage">Email is required</p>
                }
                <!--------------------------------- Inputfield Email --------------------------------->


                <!--------------------------------- Inputfield Password --------------------------------->
                <input class="inputFieldPassword" type="password" placeholder="Password" formControlName="password"
                    [ngClass]="{'errorInputfield': inputfieldPasswordIsRequired()}">

                @if (inputfieldPasswordIsRequired()) {
                <p style="margin-right: 372px;" class="errorMessage">Password is required</p>
                }
                <!--------------------------------- Inputfield Password --------------------------------->

                <a routerLink="/forgotPassword" class="textForgotPassword">Forgot Password?</a>

                <div class=" containerTextWithTwoLines">
                    <hr>
                    <p>OR</p>
                    <hr>
                </div>

                <button class="btnSignInWithGoogle" type="button" (click)="loginWithGoogle()">
                    <img src="./assets/icons/google-icon.svg" alt="Google Icon">
                    Sing in with Google
                </button>

                <div class="btnContainer">
                    <button class="btnPrimary" type="submit"
                        [disabled]="loginForm.invalid || loginForm.controls.password.value?.trim() == ''"
                        [ngClass]="{'btnDisabled': loginForm.invalid || loginForm.controls.password.value?.trim() == ''}">
                        Log in
                    </button>
                    <button class="btnSecondary" type="button" (click)="loginAsGuest()">Guest Log in</button>
                </div>
            </form>
        </div>

    </div>


    <app-footer></app-footer>


    @if(authService.loginSuccessfully || authService.loginFailed) {
    <app-user-feedback-message></app-user-feedback-message>
    }
</main>