<div [ngClass]="{'overlay': emojiPickerIsDisplayed}" (click)="closeEmojiPickerIfClickOutside()"></div>

<div class="mainContainerMessage" [ngClass]="{'mainContainerChannelMessageOwnMessage': userIdMatchesWithIdFromLoggedinUser(), 
    'mainContainerChannelMessageFromOtherUser': !userIdMatchesWithIdFromLoggedinUser()}"
    (mouseleave)="closeOpenMenusInMessageIfHoverOutside()">

    <!--------------------------------- Reaction Bar --------------------------------->
    <div [ngClass]="{'containerReactionBarRightSide':  userIdMatchesWithIdFromLoggedinUser(), 
        'containerReactionBarLeftSide': !userIdMatchesWithIdFromLoggedinUser()}" class="containerReactionBar">

        <div class="containerSingleIcon" (click)="openBarToSelectEmojis()">
            <img src="assets/icons/add-emojis-icon.svg" alt="Add Emoji Icon">
        </div>

        @if (userIdMatchesWithIdFromLoggedinUser()) {
        <div class="containerSingleIcon" (click)="openMenuMoreOptions()">
            <img src="assets/icons/more-options-icon.svg" alt="More Options Icon">
        </div>
        }
    </div>
    <!--------------------------------- Reaction Bar --------------------------------->


    <!--------------------------------- Menu more Options --------------------------------->
    @if(menuMoreOptionsAreOpen) {
    <div class="containerMenuMoreOptions">
        <p (click)="openEditModeFromMessage()">Edit Message</p>


        <!--------------------------------- Removes the delete Option, so that the thread is not empty --------------------------------->
        @if ((createThreadMessageService.threadMesssagesAsObservable | async)?.length !== 1) {
        <p (click)="deleteMessage()">Delete Message</p>
        }
        <!--------------------------------- Removes the delete Option, so that the thread is not empty --------------------------------->
    </div>
    }
    <!--------------------------------- Menu more Options --------------------------------->


    <!--------------------------------- Bar to select Emojis --------------------------------->
    @if(barToSelectEmojisAreOpen) {
    <div [ngClass]="{'containerReactionBarRightSide': userIdMatchesWithIdFromLoggedinUser(), 
    'containerReactionBarLeftSide': !userIdMatchesWithIdFromLoggedinUser()}" class="containerReactionBar"
        style="top: 30px;">

        <img class="singleIcon" src="assets/icons/check-emoji-icon.svg" alt="Emoji Icon"
            (click)="selectEmoji('assets/icons/check-emoji-icon.svg')">

        <img class="singleIcon" src="assets/icons/raising-both-hands-emoji-icon.svg" alt="Emoji Icon"
            (click)="selectEmoji('assets/icons/raising-both-hands-emoji-icon.svg')">

        <img class="singleIcon" src="assets/icons/nerd-emoji-icon.svg" alt="Emoji Icon"
            (click)="selectEmoji('assets/icons/nerd-emoji-icon.svg')">

        <img class="singleIcon" src="assets/icons/rocket-emoji-icon.svg" alt="Emoji Icon"
            (click)="selectEmoji('assets/icons/rocket-emoji-icon.svg')">
    </div>
    }
    <!--------------------------------- Bar to select Emojis --------------------------------->


    @if (noProfileImgExistInMessage()) {
    <img class="imgNoSelectedProfile" src="assets/img/non-user-selected.svg" alt="Profile Image">
    }@else {
    <img src="{{ threadMessage.userThatSendedMessage?.imgUrl }}" alt="Profile Image">
    }


    <div [ngClass]="{'container': !userIdMatchesWithIdFromLoggedinUser()}">

        <div [ngClass]="{'containerChannelMessageUpperPartOwnMessage': userIdMatchesWithIdFromLoggedinUser(), 
            'containerChannelMessageUpperPartFromOtherUser': !userIdMatchesWithIdFromLoggedinUser()}">

            <p>{{ threadMessage.userThatSendedMessage?.name }}</p>
            <p>{{ threadMessage.senderTime | date: 'HH:mm' }} Uhr</p>
        </div>

        @if (!messageIsInEditMode && threadMessage.messageText.trim() !== '') {
        <p [ngClass]="{'messageTextOwnMessage': userIdMatchesWithIdFromLoggedinUser(), 
           'messageTextFromOtherUser': !userIdMatchesWithIdFromLoggedinUser()}">
            {{ threadMessage.messageText }}
        </p>
        }


        <!--------------------------------- Selected Emojis --------------------------------->
        <div class="mainContainerSelctedEmojis" [ngClass]="{'marginLeft': userIdMatchesWithIdFromLoggedinUser(),
           'marginRight': !userIdMatchesWithIdFromLoggedinUser()}">

            @for(addedEmoji of threadMessage.addedEmojis; track $index) {
            <div class="childContainerSelctedEmojis" (click)="selectEmoji(addedEmoji.emojiUrl)"
                (mouseenter)="displayTooltipAddedEmoji(addedEmoji.emojiUrl)" (mouseleave)="hideTooltipAddedEmoji()">

                <img src="{{ addedEmoji.emojiUrl }}" alt="Emoji Icon">
                <p>{{ addedEmoji.emojiAmount }}</p>


                <!--------------------------------- Emoji Tooltip --------------------------------->
                @if(emojiUrlMatchesWithEmojiUrlFromTooltip(addedEmoji.emojiUrl)) {
                <div class="containerTooltip">
                    <img src="{{ addedEmoji.emojiUrl }}" alt="Emoji Icon">
                    <p>{{ addedEmoji.usersNameWhoHaveUsedTheEmoji }}</p>
                    <p>has react</p>
                </div>
                }
                <!--------------------------------- Emoji Tooltip --------------------------------->

            </div>
            }
        </div>
        <!--------------------------------- Selected Emojis --------------------------------->
        

        <!--------------------------------- Textarea to Edit Message --------------------------------->
        @if (messageIsInEditMode) {
        <form [formGroup]="editMessageForm" (ngSubmit)="editMessage()">
            <textarea placeholder="{{ threadMessage.messageText }}" formControlName="textareaEditMessage">

            </textarea>


            <!--------------------------------- Emoji Picker --------------------------------->
            @if (emojiPickerIsDisplayed) {
            <emoji-mart [style]="{position: 'absolute', top: '270px', right: '10px', 'z-index': '1', width: '280px'}"
                (emojiClick)="selectEmojiInEmojiPicker($event)">
            </emoji-mart>
            }
            <!--------------------------------- Emoji Picker -----  ---------------------------->


            <div class="containerIconAndBtns"
                [ngStyle]="{'width': threadMessage.attachedFiles.length >= 1 ? '80%' : '90%'}">

                <div class="containerSmileyIcon" (click)="tootgleEmojiPicker()">
                    <img src="assets/icons/smiley-icon.svg" alt="Smiley Icon">
                </div>

                <div class="containerBtn">
                    <button type="button" (click)="closeEditModeFromMessage()">Cancel</button>

                    <button type="submit"
                        [disabled]="editMessageForm.invalid || editMessageForm.controls.textareaEditMessage.value?.trim() == ''"
                        [ngClass]="{'btnDisabled': editMessageForm.invalid || editMessageForm.controls.textareaEditMessage.value?.trim() == ''}">
                        Save
                    </button>
                </div>

            </div>
        </form>
        }
        <!--------------------------------- Textarea to Edit Message --------------------------------->


        <!--------------------------------- Displayed here the uploaded Images in Message --------------------------------->
        @for (uploadedImage of threadMessage.attachedFiles; track $index) {
        <img class="uploadedImage" src="{{ uploadedImage }}" alt="Uploaded Image"
            (click)="openImageDetailView(uploadedImage)">
        }
        <!--------------------------------- Displayed here the uploaded Images in Message --------------------------------->
    </div>
</div>