@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


.mainContainerMessage {
    @include flex();
    gap: 20px;
    padding: 10px 40px 10px 40px;
    margin: 40px 0 20px 0;
    position: relative;

    &:hover {
        background-color: $bgColor;

        .messageText {
            background-color: #ffffff;
        }

        .containerReactionBar {
            display: flex;
        }
    }

    img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
}


.containerReactionBar {
    @include positionAbsolute(-20px, unset, unset, 15px);
    @include flexCenteredYAxis();
    border: 1px solid $lightPurple;
    display: none;
    gap: 5px;
    height: 40px;
    border-radius: 25px 25px 0 25px;
    padding: 3px 15px 3px 20px;
    background-color: #ffffff;

    img {
        padding: 8px;
        width: 23px;
        height: 23px;
    }
}


.singleIcon {
    @include iconHover();
}


.containerMenuMoreOptions {
    @include positionAbsolute(30px, unset, unset, 15px);
    z-index: 1;
    width: 200px;
    border-radius: 30px 0 30px 30px;
    padding: 10px 20px 10px 20px;
    box-shadow: 0px 6px 14px 0px #00000033;
    background-color: #ffffff;

    p {
        @include hover();
        margin: 0;
        font-size: 20px;
        border-radius: 100px;
        padding: 10px 20px 10px 20px;

        &:hover {
            background-color: $bgColor;
            color: $middlePurple;
            font-weight: 700;
        }
    }
}


.containerMessageUpperPart {
    @include flex();
    align-items: baseline;
    gap: 20px;

    p:nth-of-type(1) {
        font-size: 18px;
        font-weight: 700;
    }

    p:nth-of-type(2) {
        color: $textGray;
        font-size: 14px;
    }

    p {
        margin: 0;
    }
}


.messageText {
    background-color: $bgColor;
    border-radius: 0 20px 20px 20px;
    padding: 15px;
    font-size: 18px;
    width: fit-content;
}


.containerSingleIcon {
    @include hover();
    @include flex();
    border-radius: 50%;

    label {
        @include flex();
        @include hover();

        input {
            @include positionAbsolute(72px, 12px, 10px, 283px);
            @include hover();
            z-index: 1;
            opacity: 0;
        }
    }

    img {
        @include hover();

        &:hover {
            filter: brightness(0) saturate(100%) invert(32%) sepia(74%) saturate(1212%) hue-rotate(215deg) brightness(97%) contrast(107%);
        }
    }

    &:hover {
        background-color: $bgColor;
    }
}