@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


//////////////////// Width
@media screen and (max-width: 1000px) {

    form {

        textarea {
            width: 470px;
            height: 120px;
        }
    }

    .containerIconAndBtns {
        gap: 250px;
        padding: 16px 25px 16px 10px;
        border-radius: 0 0 0 20px;
    }

    .uploadedImage {
        width: 350px !important;
        height: 250px !important;
    }

    .marginRight {
        margin-right: 0;
    }

    .marginLeft {
        margin-left: 0;
    }
}


@media screen and (max-width: 685px) {

    form {

        textarea {
            width: 420px;
        }
    }

    .containerIconAndBtns {
        gap: 200px;
    }
}


@media screen and (max-width: 635px) {

    form {

        textarea {
            width: 370px;
        }
    }

    .containerIconAndBtns {
        gap: 150px;
    }
}


@media screen and (max-width: 585px) {

    form {

        textarea {
            width: 320px;
        }
    }

    .containerIconAndBtns {
        gap: 100px;
    }
}


@media screen and (max-width: 535px) {

    form {

        textarea {
            width: 270px;
            height: 210px;
        }
    }

    .containerIconAndBtns {
        flex-direction: column;
        border-radius: unset;
        margin: -121.2px 0 0 13px;
        gap: 0;
    }

    .containerBtn {
        gap: 90px;
    }

    .uploadedImage {
        width: 300px !important;
    }
}


@media screen and (max-width: 475px) {

    .mainContainerThreadMessageOwnMessage {
        @include flexColumnCenteredXAxis();
    }

    .containerOwnMessages {
        @include flexColumnCenteredXAxis();
    }

    .messageTextOwnMessage {
        max-width: 170px;
        border-radius: 30px
    }

    .mainContainerThreadMessageFromOtherUser {
        @include flexColumnCenteredXAxis();
    }

    .messageTextFromOtherUser {
        max-width: 170px;
        border-radius: 30px
    }

    form {

        textarea {
            width: 220px;
        }
    }

    .containerIconAndBtns {
        margin: -120.8px 0 0 13px;
    }

    .containerBtn {
        gap: 45px;
    }

    .uploadedImage {
        width: 200px !important;
        height: 150px !important;
    }
}


@media screen and (max-width: 390px) {

    .mainContainerSelctedEmojis {
        justify-content: center;
        flex-wrap: wrap;
    }

    .childContainerSelctedEmojis {
        width: 25%;
        justify-content: center;
    }

    .containerMenuMoreOptions {

        p {
            font-size: 18px;
        }
    }

    
    form {

        textarea {
            width: 160px;
        }
    }

    .containerIconAndBtns {
        margin: -183.2px 0 0 13px;
        padding: 16px 45px 16px 45px;
    }   

    .containerBtn {
        flex-direction: column;
        gap: 20px;
    }
}


@media screen and (max-width: 300px) {

    .containerMenuMoreOptions {
        width: 180px;
    }
}


//////////////////// Disabled the hover Effects on touch Devices and add active Effects
@media (pointer: coarse) {

    .mainContainerThreadMessageOwnMessage {

        &:hover {
            background-color: unset;
        }

        &:active {
            background-color: $bgColor;
        }
    }

    .mainContainerThreadMessageFromOtherUser {

        &:hover {
            background-color: unset;
        }

        &:active {
            background-color: $bgColor;
        }
    }

    .uploadedImage {

        &:hover {
            opacity: unset;
        }

        &:active {
            opacity: 0.8;
        }
    }

    .containerSingleIcon {

        &:hover {
            background-color: unset;

            img {
                filter: unset;
            }
        }

        &:active {
            background-color: $bgColor;

            img {
                filter: brightness(0) saturate(100%) invert(32%) sepia(76%) saturate(3470%) hue-rotate(230deg) brightness(98%) contrast(93%);
            }
        }
    }

    .singleIcon {

        &:hover {
            background-color: unset;
        }

        &:active {
            background-color: $bgColor;
        }
    }

    .containerMenuMoreOptions {

        p {
            &:hover {
                background-color: unset;
                color: #000000;
                font-weight: normal;
            }

            &:active {
                color: $middlePurple;
                background-color: $bgColor;
                font-weight: 700;
            }
        }
    }

    .containerSmileyIcon {

        &:hover {
            background-color: unset;

            img {
                filter: unset;
            }
        }

        &:active {
            background-color: $bgColor;

            img {
                filter: brightness(0) saturate(100%) invert(32%) sepia(74%) saturate(1212%) hue-rotate(215deg) brightness(97%) contrast(107%);
            }
        }
    }

    .containerBtn {

        button:nth-of-type(1) {

            &:hover {
                color: $darkPurple;
                background-color: #ffffff;
            }

            &:active {
                background-color: $middlePurple;
                color: #ffffff;
            }
        }

        button:nth-of-type(2) {

            &:hover {
                background-color: $darkPurple;
                color: #ffffff;
            }

            &:active {
                background-color: $purple;
            }
        }
    }

    .childContainerSelctedEmojis {

        &:hover {
            border: 1px solid $lightPurple;
        }

        &:active {
            border: 1px solid $darkPurple;
        }
    }
}