<div class="dialogBox">

    <div class="dialogBoxUpperPart">
        <p>Edit your profile</p>

        <div mat-dialog-close class="containerCloseIcon">
            <img src="assets/icons/close-icon.svg" alt="Close Icon">
        </div>
    </div>


    <div class="containerProfileImg">
        @if (!authService.user.imgUrl) {
        <img class="imgNoSelectedProfile" src="assets/img/non-user-selected.svg" alt="Profile Image">
        }@else {
        <img src="{{ authService.user.imgUrl }}" alt="Profile Image">
        }
    </div>


    <form (ngSubmit)="updateUserName()" id="editProfileForm" [formGroup]="editProfileForm">
        <label for="userName" form="editProfileForm">
            <img src="assets/icons/user-icon-with-circle-black.svg" alt="User Icon">
            Full Name
        </label>
        <input type="text" id="userName" placeholder="{{ authService.user.name }}" formControlName="name"
            [ngClass]="{'errorInputfield': inputfieldNameIsRequired() || inputfieldNameIsToShort() || inputfieldNameIsToLong()}">


        @if (inputfieldNameIsRequired()) {
        <p style="margin: -5px 0 0 20px" class="errorMessage">
            Name is required
        </p>
        } @else if (inputfieldNameIsToShort()) {
        <p style="margin: -5px 0 0 20px" class="errorMessage">
            Name must be at least 3 Characters long
        </p>
        } @else if (inputfieldNameIsToLong()) {
        <p style="margin: -5px 0 0 20px" class=" errorMessage">
            Name can be a maximum of 15 characters long
        </p>
        }


        <div class="btnContainer">
            <button mat-dialog-close class="btnSecondary" type="button">Cancel</button>

            <button class="btnPrimary" type="submit"
                [disabled]="editProfileForm.invalid || editProfileForm.controls.name.value?.trim() == ''"
                [ngClass]="{'btnDisabled': editProfileForm.invalid || editProfileForm.controls.name.value?.trim() == ''}">
                Save
            </button>
        </div>
    </form>

</div>