@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


//////////////////// Width
@media screen and (max-width: 600px) {

    .dialogBox {
        width: 300px;
    }
}


@media screen and (max-width: 475px) {

    .dialogBox {
        width: 230px;
    }
}


@media screen and (max-width: 390px) {

    .dialogBox {
        width: 170px;
        padding: 45px 25px 45px 25px;
    }

    .dialogBoxUpperPart {

        p {
            font-size: 18px;
            text-align: center;
        }
    }

    .containerProfileImg {

        img {
            width: 100px;
            height: 100px;
        }
    }

    .imgNoSelectedProfile {
        width: 80px !important;
        height: 80px !important;
        padding: 8px !important;
    }

    form {

        label {
            font-size: 18px;

            img {
                width: 27px;
            }
        }
    }

    .errorMessage {
        margin: -5px 0 0 10px !important;
    }

    .btnContainer {
        flex-direction: column;
        gap: 20px;
    }
}


//////////////////// Disabled the hover Effects on touch Devices and add active Effects
@media (pointer: coarse) {

    .containerCloseIcon {

        &:hover {
            background-color: unset;

            img {
                filter: none;
            }
        }

        &:active {
            background-color: $bgColor;
            transition: all 225ms ease-in-out;

            img {
                filter: brightness(0) saturate(100%) invert(24%) sepia(99%) saturate(1557%) hue-rotate(226deg) brightness(110%) contrast(90%);
            }
        }
    }

    .btnPrimary {

        &:hover {
            background-color: $darkPurple;
        }

        &:active {
            background-color: $purple;
        }
    }

    .btnSecondary {

        &:hover {
            color: $darkPurple;
            background-color: #ffffff;
        }

        &:active {
            background-color: $middlePurple;
            color: #ffffff;
        }
    }
}