<div class="mainContainerThread">

    <div class="containerThreadUpperPart">

        <div class="containerTextAndImage">
            <p>Thread</p>

            <div class="containerCloseIcon">
                <img src="assets/icons/close-icon.svg" alt="Close Icon">
            </div>
        </div>

    </div>


    <div class="containerThreadLowerPart">

        <div class="scrollingContainer">

            <div class="mainContainerMessage">
                <img src="/assets/img/avatar-5.svg" alt="User Image">

                <div class="containerMessage">

                    <div class="containerMessageUpperPart">
                        <p>Tom</p>
                        <p>15:00 Uhr</p>
                    </div>

                    <p class="messageText">sdsdsadsasadsa</p>
                </div>
            </div>

            <div class="mainContainerMessage">
                <img src="/assets/img/avatar-5.svg" alt="User Image">

                <div class="containerMessage">

                    <div class="containerMessageUpperPart">
                        <p>Tom</p>
                        <p>15:00 Uhr</p>
                    </div>

                    <p class="messageText">sdsdsadsasadsa</p>
                </div>
            </div>

            <div class="mainContainerMessage">
                <img src="/assets/img/avatar-5.svg" alt="User Image">

                <div class="containerMessage">

                    <div class="containerMessageUpperPart">
                        <p>Tom</p>
                        <p>15:00 Uhr</p>
                    </div>

                    <p class="messageText">sdsdsadsasadsa</p>
                </div>
            </div>
        </div>


        <div class="containerQuillEditor">

            <form>

                <quill-editor placeholder="Answer..." (onSelectionChanged)="focusQuillEditor($event)">

                </quill-editor>

                <div class="mainContainerIcons">

                    <div class="containerIcons">
                        <div class="containerSingleIcon">
                            <img class="plusIcon" src="assets/icons/plus-icon-gray.svg" alt="Plus Icon">
                        </div>

                        <hr>

                        <div class="containerSingleIcon">
                            <img src="assets/icons/smiley-icon.svg" alt="Smiley Icon">
                        </div>

                        <div class="containerSingleIcon">
                            <img src="assets/icons/@-icon.svg" alt="@ Icon">
                        </div>
                    </div>


                    <button type="submit">
                        <img src="assets/icons/send-message-icon-light-purble.svg" alt="Send Icon">
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>