<div class="mainContainerThread">

    <div class="containerThreadUpperPart">

        <div class="containerTextAndImage">
            <p>Thread</p>

            <div class="containerCloseIcon">
                <img src="assets/icons/close-icon.svg" alt="Close Icon">
            </div>
        </div>

    </div>


    <div class="containerThreadLowerPart">

        <div class="mainContainerMessage">
            <img src="/assets/img/avatar-5.svg" alt="User Image">

            <div class="containerMessage">

                <div class="containerMessageUpperPart">
                    <p>Tom</p>
                    <p>15:00 Uhr</p>
                </div>

                <p class="messageText">sdsdsadsasadsa</p>
            </div>
        </div>
    </div>
</div>