@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


//////////////////// Width
@media screen and (min-width: 2000px) {

    header {
        gap: 350px;
    }

    .searchIcon {
        right: 670px;
    }
}


@media screen and (min-width: 1950px) and (max-width: 2000px) {

    header {
        gap: 350px;
    }

    .searchIcon {
        right: 645px;
    }
}


@media screen and (min-width: 1900px) and (max-width: 1950px) {

    header {
        gap: 325px;
    }

    .searchIcon {
        right: 630px;
    }
}


@media screen and (min-width: 1850px) and (max-width: 1900px) {

    header {
        gap: 300px;
    }

    .searchIcon {
        right: 605px;
    }
}


@media screen and (min-width: 1800px) and (max-width: 1850px) {

    header {
        gap: 250px;
    }

    .searchIcon {
        right: 575px;
    }
}


@media screen and (min-width: 1750px) and (max-width: 1800px) {

    header {
        gap: 220px;
    }

    .searchIcon {
        right: 545px;
    }
}


@media screen and (min-width: 1700px) and (max-width: 1750px) {

    header {
        gap: 200px;
    }

    .searchIcon {
        right: 545px;
    }
}


@media screen and (min-width: 1650px) and (max-width: 1700px) {

    header {
        gap: 180px;
    }

    .searchIcon {
        right: 520px;
    }
}


@media screen and (min-width: 1600px) and (max-width: 1650px) {

    header {
        gap: 180px;
    }

    .searchIcon {
        right: 485px;
    }
}


@media screen and (max-width: 1286px) {

    .containerMenuSelection {
        width: 310px;
        left: 460px;
    }
}


@media screen and (max-width: 1210px) {

    header {
        gap: 100px;
    }

    .searchIcon {
        right: 410px;
    }

    .containerMenuSelection {
        width: 290px;
        left: 430px;
    }

    .containerTimeWhenTheMessageWasSent {
        flex-direction: column;
    }
}


@media screen and (max-width: 1150px) {

    header {
        gap: 25px;
    }

    .searchIcon {
        right: 335px;
    }

    .containerMenuSelection {
        left: 355px;
    }
}


@media screen and (max-width: 1050px) {

    .containerMenuSelection {
        width: 250px;
    }
}


@media screen and (max-width: 1000px) {

    header {
        display: none;
    }

    app-header-mobile-view {
        display: block !important;
    }
}


//////////////////// Disabled the hover Effects on touch Devices and add active Effects
@media (pointer: coarse) {

    .containerProfileImgAndName {

        &:hover {

            p {
                color: unset;
            }

            .arrowIcon {
                filter: unset;
            }
        }

        &:active {

            p {
                color: $purple;
            }

            .arrowIcon {
                filter: brightness(0) saturate(100%) invert(64%) sepia(67%) saturate(4918%) hue-rotate(213deg) brightness(100%) contrast(91%);
            }
        }
    }

    .btnMatMenu {

        &:hover {
            color: #000000;
            background-color: #ffffff;
        }

        &:active {
            color: $middlePurple;
            background-color: $bgColor;
        }
    }

    .containerUserNameAndImg {

        &:hover {
            background-color: unset;
        }

        &:active {
            background-color: $bgColor;
        }
    }

    .containerChannelNameAndImg {

        &:hover {
            background-color: unset;
        }

        &:active {
            background-color: $bgColor;
        }
    }

    .containerDirectMessagesOrChannelMessages {

        &:hover {
            background-color: unset;
        }

        &:active {
            background-color: $bgColor;
        }
    }
}