<nav>
    <div class="containerSidebarUpperPart">
        <img src="assets/img/workspace-logo.svg" alt="Workspace Logo">

        <div class="containerPencilIcon" routerLink="/mainView/newMessage">
            <img src="assets/icons/edit-icon.svg" alt="Pencil Icon">
        </div>
    </div>


    <!--------------------------------- Only displayed in the Mobile View --------------------------------->
    <app-inputfield-in-sidebar-mobile-view class="d-none"></app-inputfield-in-sidebar-mobile-view>
    <!--------------------------------- Only displayed in the Mobile View --------------------------------->

    
    <div class="scrollingContainer">

        <app-channels-in-sidebar></app-channels-in-sidebar>


        <app-contacts-in-sidebar></app-contacts-in-sidebar>

    </div>


    <!--------------------------------- Only displayed in the Mobile View --------------------------------->
    <app-button-create-new-message-mobile-view class="d-none" routerLink="/mainView/newMessage"
        (click)="directToNewMessageComponentIfInMobileView()">

    </app-button-create-new-message-mobile-view>
    <!--------------------------------- Only displayed in the Mobile View --------------------------------->
</nav>