<nav>
    <div class="containerSidebarUpperPart">
        <img src="assets/img/workspace-logo.svg" alt="Workspace Logo">

        <div class="containerPencilIcon">
            <img src="assets/icons/edit-icon.svg" alt="Pencil Icon">
        </div>
    </div>


    <div class="scrollingContainer">

        <div class="containerSidebarMiddlePart" (click)="foldInChannels()">
            <div class="childContainerSidebarMiddlePart">
                <img src="assets/icons/arrow-icon-dropdown.svg" alt="Arrow Icon"
                    [ngClass]="{'rotateArrowIcon': channelsAreCollapsed}">

                <img src="assets/icons/three-circles-icon.svg" alt="Three Circle Icon">
                <p>Channels</p>
            </div>

            <div class="containerPlusIcon">
                <img src="assets/icons/plus-icon.svg" alt="Plus Icon">
            </div>
        </div>


        <ul class="channelList" [ngClass]="{'d-none': channelsAreCollapsed}">
            <li>
                <img src="assets/icons/hashtag-icon.svg" alt="Hashtag Icon">
                <p>HTML</p>
            </li>

            <li>
                <img src="assets/icons/hashtag-icon.svg" alt="Hashtag Icon">
                <p>CSS</p>
            </li>

            <li>
                <img src="assets/icons/hashtag-icon.svg" alt="Hashtag Icon">
                <p>JavaScript</p>
            </li>

            <li>
                <img src="assets/icons/hashtag-icon.svg" alt="Hashtag Icon">
                <p>Angular</p>
            </li>


            <div class="containerIconAndText">
                <img src="assets/icons/plus-icon-with-circle.svg" alt="Plus Icon">
                <p>Add Channel</p>
            </div>
        </ul>


        <div class="containerSidebarLowerPart" (click)="foldInContacts()">
            <img src="assets/icons/arrow-icon-dropdown.svg" alt="Arrow Icon"
                [ngClass]="{'rotateArrowIcon': contactsAreCollapsed}">

            <img src="assets/icons/user-icon-with-circle-black.svg" alt="User Icon">
            <p>Direct Messages</p>
        </div>


        <ul class="contactList" [ngClass]="{'d-none': contactsAreCollapsed}">
            <li>
                <img src="assets/img/avatar-1.svg" alt="User Profile Image">
                <img src="assets/icons/user-is-online-icon.svg" alt="Green Dot">
                <p>Tom</p>
            </li>

            <li>
                <img src="assets/img/avatar-2.svg" alt="User Profile Image">
                <img src="assets/icons/user-is-online-icon.svg" alt="Green Dot">
                <p>Tom</p>
            </li>

            <li>
                <img src="assets/img/avatar-3.svg" alt="User Profile Image">
                <img src="assets/icons/user-is-online-icon.svg" alt="Green Dot">
                <p>Tom</p>
            </li>

            <li>
                <img src="assets/img/avatar-4.svg" alt="User Profile Image">
                <img src="assets/icons/user-is-online-icon.svg" alt="Green Dot">
                <p>Tom</p>
            </li>
        </ul>

    </div>
</nav>