@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


//////////////////// Width
@media screen and (max-width: 610px) {

    .containerMenuSelection {
        width: 350px;
    }
}


@media screen and (max-width: 555px) {

    .containerMenuSelection {
        width: 300px;
        height: 230px;
    }

    .text {
        text-align: center;
    }

    .containerUserNameAndImg {
        flex-direction: column;

        p {
            margin: 0;
            text-align: center;
        }
    }

    .userOnlineStatus {
        bottom: 37px;
        left: 156px;
    }

    .containerChannelNameAndImg {
        flex-direction: column;

        p {
            margin: 0;
            text-align: center;
        }
    }

    .containerDirectMessagesOrChannelMessages {
        flex-direction: column;
        align-items: center;

        p {
            text-align: center;
        }
    }

    .containerTimeWhenTheMessageWasSent {
        justify-content: center;
    }
}


@media screen and (max-width: 505px) {

    .containerMenuSelection {
        width: 250px;
    }

    .userOnlineStatus {
        bottom: 37px;
        left: 132px;
    }

    .containerTimeWhenTheMessageWasSent {
        flex-direction: column;
    }
}


@media screen and (max-width: 455px) {

    .containerMenuSelection {
        width: 180px;
    }

    .userOnlineStatus {
        left: 97px;
    }

    .text {
        text-align: center;
    }
}


@media screen and (max-width: 390px) {

    .containerInputfield {

        input {
            font-size: 16px;
        }
    }

    .containerMenuSelection {
        width: 130px;
    }

    .userOnlineStatus {
        left: 72px;
        bottom: 34px;
    }

    .text {
        font-size: 16px;
    }

    .textNotSearchResultsFound {
        font-size: 16px;
    }

    .containerUserNameAndImg {

        p {
            font-size: 16px;
        }
    }

    .containerChannelNameAndImg {

        p {
            font-size: 16px;
        }
    }

    .containerDirectMessagesOrChannelMessages {

        p {
            font-size: 16px;
        }
    }

    .containerTimeWhenTheMessageWasSent {

        p {
            font-size: 14px;
        }
    }
}


@media screen and (max-width: 340px) {

    .containerMenuSelection {
        left: 60px;
    }
}


//////////////////// Disabled the hover Effects on touch Devices and add active Effects
@media (pointer: coarse) {

    .containerUserNameAndImg {

        &:hover {
            background-color: unset;
        }

        &:active {
            background-color: $bgColor;
        }
    }

    .containerChannelNameAndImg {

        &:hover {
            background-color: unset;
        }

        &:active {
            background-color: $bgColor;
        }
    }

    .containerDirectMessagesOrChannelMessages {

        &:hover {
            background-color: unset;
        }

        &:active {
            background-color: $bgColor;
        }
    }
}