@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


.overlay {
    @include positionAbsolute(0, 0, 0, 0);
    z-index: 1;
}


.containerInputfield {
    @include flexCenteredXAxis();
    width: 100%;
    padding-bottom: 4px;
    position: relative;

    input {
        @include inputfieldOrTextarea(100%, 42px, 17.5px, 60px, 17.5px, 24px, 18px, #ffffff);
        @include inputfieldOrTextareaHover();
        @include inputfieldOrTextareaFocus();
        border: 1px solid $lightPurple;
    }

    img {
        @include positionAbsolute(14px, unset, unset, 15px);
        width: 30px;
    }
}


.containerMenuSelection {
    @include flexColumn();
    @include positionAbsolute(175px, unset, 70px, unset);
    border: 1px solid $lightPurple;
    height: 145px;
    width: 400px;
    gap: 15px;
    border-radius: 0 20px 20px 20px;
    padding: 20px;
    z-index: 1;
    box-shadow: 0px 2px 10px 0px #00000014;
    background-color: #ffffff;
    overflow-y: scroll;
}


.text {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}


.containerUserNameAndImg {
    @include hover();
    @include flexCenteredYAxis();
    gap: 15px;
    position: relative;
    border-radius: 35px;
    padding: 4px 20px 4px 20px;

    p {
        width: 100px;
        font-size: 18px;
        margin: 18px 0 18px 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
    }

    &:hover {
        background-color: $bgColor;
    }
}


.userImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.imgNoSelectedProfileInMenuSelection {
    background-color: $purple;
    width: 38px;
    padding: 6px;
    border-radius: 50%;
}


.userOnlineStatus {
    @include positionAbsolute(unset, 4px, 54px, unset);
    width: 12px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}


.containerChannelNameAndImg {
    @include hover();
    @include flexCenteredYAxis();
    gap: 15px;
    padding: 4px 20px 4px 20px;
    border-radius: 35px;

    p {
        width: 100px;
        font-size: 18px;
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
    }

    &:hover {
        background-color: $bgColor;
    }
}


.containerDirectMessagesOrChannelMessages {
    @include hover();
    @include flex();
    gap: 15px;
    padding: 4px 20px 4px 20px;
    border-radius: 35px;

    p {
        font-size: 18px;
        margin: 0;
        word-break: break-all;
    }

    &:hover {
        background-color: $bgColor;
    }
}


.wrapperContainer {
    @include flexColumn();
    gap: 5px;
}


.containerUploadedImages {
    @include flex();
    gap: 15px;

    img {
        width: 45px;
        height: 45px;
        border-radius: 8px
    }
}

.containerTimeWhenTheMessageWasSent {
    @include flex();
    gap: 8px;

    p {
        color: $textGray;
        margin: 0;
        font-size: 14px;
    }
}


.textNotSearchResultsFound {
    font-size: 18px;
    margin: 0;
    text-align: center;
}