<main>
    <app-header></app-header>


    <div class="mainContainerLegalNotice">

        <div class="legalNoticeBox">
            <div routerLink="/login" class="containerArrowIcon">
                <img src="./assets/icons/arrow-icon.svg" alt="Arrow Icon">
            </div>
            <h1>Impressum</h1>


            <p>Angaben gem&auml;&szlig; &sect; 5 TMG</p>
            <p>Tom Petri<br />
                Wilhelmstra&szlig;e 32<br />
                48324 Sendenhorst</p>

            <h2>Kontakt</h2>
            <p>E-Mail: tom.petri7&#64;gmail.com</p>
            <p>
                Source
                <a href="https://www.e-recht24.de" target="_blank">
                    https://www.e-recht24.de
                </a>
            </p>
        </div>

    </div>
</main>