@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


//////////////////// Width
@media screen and (max-width: 640px) {

    .legalNoticeBox {
        width: 400px;
    }
}


@media screen and (max-width: 540px) {

    .legalNoticeBox {
        width: 300px;

        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 26px;
        }
    }
}


@media screen and (max-width: 440px) {

    .legalNoticeBox {
        width: 200px;

        h1 {
            font-size: 32px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 16px;
        }
    }
}


@media screen and (max-width: 340px) {

    .legalNoticeBox {
        width: 155px;
    }
}


//////////////////// Height
@media screen and (max-height: 600px) {

    .mainContainerLegalNotice {
        padding-bottom: 40px;
    }
}


//////////////////// Disabled the hover Effects on touch Devices and add active Effects
@media (pointer: coarse) {

    .containerArrowIcon {

        &:hover {
            background-color: unset;

            img {
                filter: none;
            }
        }

        &:active {
            background-color: $bgColor;
            transition: all 225ms ease-in-out;

            img {
                filter: brightness(0) saturate(100%) invert(24%) sepia(99%) saturate(1557%) hue-rotate(226deg) brightness(110%) contrast(90%);
            }
        }
    }
}