<div class="dialogBox">

    <div class="dialogBoxUpperPart">

        <div class="containerChannelNameAndImageUpperPart">
            <img src="assets/icons/hashtag-icon-black.svg" alt="Hashtag Icon">
            <p>My Channel</p>
        </div>

        <div class="containerCloseIcon" mat-dialog-close>
            <img src="assets/icons/close-icon.svg" alt="Hashtag Icon">
        </div>

    </div>


    <div class="dialogBoxFirstMiddlePart">

        <div class="containerText">
            <p>Channel-Name</p>
            <p>Edit</p>
        </div>

        <div class="containerChannelNameAndImageMiddlePart">
            <img src="assets/icons/hashtag-icon-black.svg" alt="Hashtag Icon">
            <p>My Channel</p>
        </div>
    </div>


    <div class="dialogBoxSecondMiddlePart">

        <div class="containerText">
            <p>Description</p>
            <p>Edit</p>
        </div>

        <span>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis soluta consectetur necessitatibus
            nemo nesciunt quaerat voluptas. Consequatur corrupti id ut. Vel, cumque? Tenetur quod doloribus totam
            optio temporibus ducimus ab?
        </span>

        <hr>

        <div class="containerNameWhoCreatedChannel">
            <p>Created by</p>
            <p>Tom</p>
        </div>
    </div>


    <div class="containerBtn">
        <button type="submit">Leave Channel</button>
    </div>
</div>