<div class="dialogBox">

    <div class="dialogBoxUpperPart">

        <div class="containerChannelNameAndImageUpperPart">
            <img src="assets/icons/hashtag-icon-black.svg" alt="Hashtag Icon">
            <p>{{ data.channelData.channelName }}</p>
        </div>

        <div class="containerCloseIcon" mat-dialog-close>
            <img src="assets/icons/close-icon.svg" alt="Hashtag Icon">
        </div>

    </div>

    <form [formGroup]="editChannelForm">
        <div class="dialogBoxFirstMiddlePart" [ngClass]="{'channelInEditMode': channelNameIsInEditMode}">

            <div class="containerText">
                <p>Channel Name</p>

                @if (!channelNameIsInEditMode) {
                <p (click)="openEditModeForChannelName()">Edit</p>
                }@else {
                <button type="submit" (click)="saveChangesToEditChannelName()"
                    [disabled]="editChannelForm.controls.channelName.invalid || editChannelForm.controls.channelName.value?.trim() == ''"
                    [ngClass]="{'disabledBtn': editChannelForm.controls.channelName.invalid || editChannelForm.controls.channelName.value?.trim() == ''}">
                    Save
                </button>
                }
            </div>

            <!--------------------------------- Inputfield Channel Name --------------------------------->
            <div class="containerChannelNameAndImageMiddlePart">
                @if (!channelNameIsInEditMode) {
                <img src="assets/icons/hashtag-icon-black.svg" alt="Hashtag Icon">
                <p>{{ data.channelData.channelName }}</p>
                }@else {
                <input type="text" placeholder="{{ data.channelData.channelName }}" formControlName="channelName"
                    [ngClass]="{'errorInputfield': inputFieldChannelNameIsRequired() || 
                  inputfieldChannelNameIsToShort() || inputfieldChannelNameIsToLong() }">
                }
            </div>


            @if (inputFieldChannelNameIsRequired()) {
            <p class="errorMessage" style="margin: 10px 0 0 20px;">
                Channel Name is required
            </p>
            }@else if (inputfieldChannelNameIsToShort()) {
            <p class="errorMessage" style="margin: 10px 0 0 20px;">
                Channel Name must be at least 3 Characters long
            </p>
            }@else if (inputfieldChannelNameIsToLong()) {
            <p class="errorMessage" style="margin: 10px 0 0 20px;">
                Channel Name can be a maximum of 15 characters long
            </p>
            }
            <!--------------------------------- Inputfield Channel Name --------------------------------->
        </div>


        <div class="dialogBoxSecondMiddlePart" [ngClass]="{'channelInEditMode': channelDescriptionIsInEditMode}">

            <div class="containerText">
                <p>Channel Description</p>

                @if (!channelDescriptionIsInEditMode) {
                <p (click)="openEditModeForChannelDescription()">Edit</p>
                }@else {
                <button type="submit" (click)="saveChangesToEditChannelDescription()"
                    [disabled]="editChannelForm.controls.channelDescription.value?.trim() == '' || editChannelForm.controls.channelDescription.invalid"
                    [ngClass]="{'disabledBtn': editChannelForm.controls.channelDescription.value?.trim() == '' || editChannelForm.controls.channelDescription.invalid}">
                    Save
                </button>
                }
            </div>


            <!--------------------------------- Inputfield Channel Description --------------------------------->
            @if (!channelDescriptionIsInEditMode) {
            <span>
                {{ data.channelData.channelDescription ? data.channelData.channelDescription : 'No Channel Description exist' }}
            </span>
            }@else {
            <input type="text"
                placeholder="{{ data.channelData.channelDescription ? data.channelData.channelDescription : 'No Channel Description exist' }}"
                formControlName="channelDescription"
                [ngClass]="{'errorInputfield': inputfieldChannelDescriptionIsToLong()}">


            @if (inputfieldChannelDescriptionIsToLong()) {
            <p class="errorMessage" style="margin: 10px 0 0 20px;">
                Channel Description can be a maximum of 150 characters long
            </p>
            }
            }
            <!--------------------------------- Inputfield Channel Description --------------------------------->

            <hr>

            <div class="containerNameWhoCreatedChannel">
                <p>Created by</p>
                <p>{{ data.channelData.userWhoCreatedChannel }}</p>
            </div>
        </div>


        <div class="containerBtn">
            <button type="submit" (click)="deleteChannel()">Delete Channel</button>
        </div>
    </form>
</div>