<main>
    <app-header></app-header>


    <div class="mainContainerSignupBox">

        <div class="signupBox">
            <div routerLink="/login" class="containerArrowIcon">
                <img src="assets/icons/arrow-icon.svg" alt="Arrow Icon">
            </div>

            <h1>Create Account</h1>

            <form (ngSubmit)="saveFormDataAndDirectToNextPage()" id="signupForm" [formGroup]="signupForm">
                <!--------------------------------- Inputfield Name --------------------------------->
                <input class="inputFieldName" type="text" placeholder="First Name and Last Name" formControlName="name"
                    [ngClass]="{'errorInputfield': inputfieldNameIsRequired() || inputfieldNameIsToShort() || inputfieldNameIsToLong()}">

                @if (inputfieldNameIsRequired()) {
                <p class="errorMessage">Name is required</p>
                } @else if (inputfieldNameIsToShort()) {
                <p class="errorMessage">
                    Name must be at least 3 Characters long
                </p>
                } @else if (inputfieldNameIsToLong()) {
                <p class="errorMessage">
                    Name can be a maximum of 15 characters long
                </p>
                }
                <!--------------------------------- Inputfield Name --------------------------------->


                <!--------------------------------- Inputfield Email --------------------------------->
                <input class="inputFieldEmail" type="email" placeholder="examplename@email.com" formControlName="email"
                    [ngClass]="{'errorInputfield': inputfieldEmailIsRequired() || inputfieldEmailIsInvalid()}">

                @if (inputfieldEmailIsRequired()) {
                <p class="errorMessage">Email is required</p>
                } @else if (inputfieldEmailIsInvalid()) {
                <p class="errorMessage">Please enter a valid Email</p>
                }
                <!--------------------------------- Inputfield Email --------------------------------->


                <!--------------------------------- Inputfield Password --------------------------------->
                <input class="inputFieldPassword" type="password" placeholder="Password" formControlName="password"
                    [ngClass]="{'errorInputfield': inputfieldPasswordIsRequired() || inputfieldPasswordIsToShort() || inputfieldPasswordIsToLong()}">

                @if (inputfieldPasswordIsRequired()) {
                <p class="errorMessage">Password is required</p>
                } @else if (inputfieldPasswordIsToShort()) {
                <p class="errorMessage">
                    Password must be at least 12 Characters long
                </p>
                }@else if (inputfieldPasswordIsToLong()) {
                <p class="errorMessage">
                    Password can be a maximum of 50 characters long
                </p>
                }
                <!--------------------------------- Inputfield Password --------------------------------->


                <label for="checkboxPrivacyPolicy" form="signupForm">
                    <input class="checkbox" type="checkbox" id="checkboxPrivacyPolicy"
                        [formControl]="signupForm.controls.checkboxPrivacyPolicy">
                    I accept the
                    <a routerLink="/privacyPolicy">privacy policy</a>
                </label>


                <div class="btnContainer">
                    <button type="submit" [disabled]="signupForm.invalid || 
                        !signupForm.controls.checkboxPrivacyPolicy.value ||
                        signupForm.controls.name.value?.trim() == '' ||
                        signupForm.controls.password.value?.trim() == ''" [ngClass]="{'btnDisabled': signupForm.invalid || 
                        !signupForm.controls.checkboxPrivacyPolicy.value ||
                        signupForm.controls.name.value?.trim() == '' ||
                        signupForm.controls.password.value?.trim() == ''}">
                        Further
                    </button>
                </div>
            </form>
        </div>

    </div>


    <app-footer></app-footer>
</main>