@import './scss/variable.scss';
@import './scss/mixin.scss';


body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Figtree', sans-serif;
}


.errorMessage {
    @include errorMessage();
}


.errorInputfield {
    border: 1px solid $rosaError !important;
}


.btnDisabled {
    @include btnPrimaryDisabled();
}


/////////// Animation for User Feedback Message 
@keyframes slideInLeft {
    from {
        transition: all 225ms ease-in-out;
        transform: translateX(100vw);
    }

    to {
        transition: all 225ms ease-in-out;
        transform: translateX(0vw);
    }
}