@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css"; // Import for Angular Material to make it work
@import '../node_modules/quill/dist/quill.bubble.css'; // Import for Quill Editor Styles
@import '../node_modules/quill/dist/quill.snow.css'; // Import for Quill Editor Styles
@import './scss/variable.scss';
@import './scss/mixin.scss';


body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Figtree', sans-serif;
}


.errorMessage {
    @include errorMessage();
}


.errorInputfield {
    border: 1px solid $rosaError !important;
}


.btnDisabled {
    @include btnPrimaryDisabled();
}


.d-none {
    display: none !important;
}


/////////// Custom Styles for the scrollbar
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background-color: $textGray;
    border-radius: 10px;

    &:hover {
        background-color: #4b4b4bbd;
    }
}


/////////// Custom Styles for tooltip 
.cdk-overlay-container .mat-mdc-tooltip {
    --mdc-plain-tooltip-container-color: #444DF2;
    --mdc-plain-tooltip-supporting-text-color: white;
    --mdc-plain-tooltip-container-shape: 5px;
    --mdc-plain-tooltip-supporting-text-line-height: 20px;
    --mdc-plain-tooltip-supporting-text-size: 14px;
    --mdc-plain-tooltip-supporting-text-weight: 400;
    --mdc-tooltip-word-break: normal;
}


/////////// Custom Styles for Matdialog 
.mat-mdc-dialog-container._mat-animation-noopable .mdc-dialog__container,
.mat-mdc-dialog-container._mat-animation-noopable .mdc-dialog__surface {
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0px 6px 10px 0px #00000033;
}


/////////// Custom Styles for MatMenu 
.cdk-overlay-pane {
    margin-right: -20px;
    margin-top: -5px;
}


.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
    background-color: #ffffff;
    box-shadow: 0 6px 10px 0 #00000033;
    padding: 30px;
    border-radius: 30px 0 30px 30px;
}


.mat-mdc-menu-content,
.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
    @include flexColumnCenteredXAxis();
    gap: 15px;
    padding: 0 !important;
}


/////////// Custom Styles for Quill Editor 
// .ql-toolbar.ql-snow {
//     display: none;
// }


// .ql-toolbar.ql-snow+.ql-container.ql-snow {
//     @include inputfieldOrTextareaHover();
//     border: 1px solid $lightPurple;
//     padding: 0;
// }


// .ql-snow {
//     @include inputfieldOrTextarea(unset, 30px, 15px, 20px, 15px, 20px, 18px, #ffffff);
// }


/////////// Animation for User Feedback Message 
@keyframes slideInLeft {
    from {
        transition: all 225ms ease-in-out;
        transform: translateX(100vw);
    }

    to {
        transition: all 225ms ease-in-out;
        transform: translateX(0vw);
    }
}