@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css"; // Import for Angular Material to make it work
@import '@ctrl/ngx-emoji-mart/picker'; // Styles for Emoji picker
@import './scss/variable.scss';
@import './scss/mixin.scss';


body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Figtree', sans-serif;
}


app-chat-direct-messages {
    width: 100%;
}


app-chat-channel-messages {
    width: 100%;
}


app-welcome-to-dabubble {
    width: 100%;
}


app-new-message {
    width: 100%;
}


app-main-view {
    background-color: $bgColor;
    height: 100vh;
    display: block;
}


.errorMessage {
    @include errorMessage();
}


.errorInputfield {
    border: 1px solid $rosaError !important;
}


.btnDisabled {
    @include btnPrimaryDisabled();
}


.d-none {
    display: none !important;
}


/////////// Custom Styles for the scrollbar
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background-color: $textGray;
    border-radius: 10px;

    &:hover {
        background-color: #4b4b4bbd;
    }
}


/////////// Custom Styles for Matdialog 
.mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 30px !important;
    box-shadow: 0 6px 10px 0 #00000033 !important;
    background-color: #ffffff !important;
}


/////////// Custom media Query for Matdialog 
@media screen and (max-height: 405px) {

    .mat-mdc-dialog-container .mdc-dialog__container {
        height: 88vh;
    }
}


/////////// Custom Styles for MatMenu 
.cdk-overlay-pane {
    margin-right: -20px;
    margin-top: -5px;
}


.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
    background-color: #ffffff;
    box-shadow: 0 6px 10px 0 #00000033;
    padding: 30px;
    border-radius: 30px 0 30px 30px;
}


.mat-mdc-menu-content,
.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
    @include flexColumnCenteredXAxis();
    gap: 15px;
    padding: 0 !important;
}


/////////// Custom Media Queries for MatMenu
@media screen and (max-width: 1000px) {

    .cdk-overlay-pane {
        margin: 5px -30px 0 0;
    }
}


@media screen and (max-width: 460px) {

    .cdk-overlay-pane {
        margin: 5px -20px 0 0;
    }
}


@media screen and (max-width: 390px) {

    .cdk-overlay-pane {
        margin: 5px 0 0 0;
    }
}


/////////// Custom Styles for the Emoji Picker
.emoji-mart-category .emoji-mart-emoji span {
    @include hover();
}


.emoji-mart .emoji-mart-emoji {
    @include hover();
}


/////////// Animation for User Feedback Message 
@keyframes slideInLeft {
    from {
        transition: all 225ms ease-in-out;
        transform: translateX(100vw);
    }

    to {
        transition: all 225ms ease-in-out;
        transform: translateX(0vw);
    }
}