@import '../scss/variable.scss';


@mixin hover() {

    &:hover {
        transition: all 225ms ease-in-out;
        cursor: pointer;
    }
}


@mixin hoverDisabled() {
    @include hover();

    &:hover {
        cursor: not-allowed !important;
    }
}


@mixin btnPrimaryDisabled() {
    @include hoverDisabled();
    background-color: $textGray !important;
}


@mixin btnPrimary() {
    background-color: $darkPurple;
    color: white;
    font-size: 18px;
    font-weight: 700;
}


@mixin btnPrimaryHover() {
    @include hover();

    &:hover {
        transition: all 225ms ease-in-out;
        background-color: $purple;
    }
}


@mixin btnPrimaryActive() {

    &:active {
        background-color: $darkPurple;
        transition: all 225ms ease-in-out;
    }
}


@mixin btnSecondaryDisabled() {
    @include hoverDisabled();
    color: $textGray;
    border: 1px solid $textGray;
}


@mixin btnSecondary() {
    color: $darkPurple;
    border: 1px solid $purple;
    background-color: white;
    font-size: 18px;
    font-weight: 700;
}


@mixin btnSecondaryHover() {
    @include hover();

    &:hover {
        background-color: $middlePurple;
        transition: all 225ms ease-in-out;
        color: white;
    }
}


@mixin btnSecondaryActive() {

    &:active {
        background-color: $darkPurple;
        transition: all 225ms ease-in-out;
    }
}


@mixin iconHover() {
    @include hover();
    border-radius: 50%;

    &:hover {
        background-color: $bgColor;
        transition: all 225ms ease-in-out;
    }
}


@mixin inputfieldOrTextarea($widthInPx, $borderRadiusInPx, $padddingTopInPx, $padddingRightInPx, $padddingBottomInPx, $padddingLeftInPx, $fontSizeInPx, $bgColor) {
    width: $widthInPx;
    border-radius: $borderRadiusInPx;
    padding: $padddingTopInPx $padddingRightInPx $padddingBottomInPx $padddingLeftInPx;
    font-size: $fontSizeInPx;
    background-color: $bgColor;
    color: $textGray;
    outline: none;
}


@mixin inputfieldOrTextareaHover() {

    &:hover {
        transition: all 225ms ease-in-out;
        border: 1px solid $textGray !important;
    }
}


@mixin inputfieldOrTextareaFocus() {

    &:focus {
        border: 1px solid $middlePurple;
        color: black;
    }
}


@mixin errorMessage() {
    color: $rosaError;
    height: 0;
    font-size: 14px;
    margin: -15px 400px 0 0;
    padding: 0;
}


@mixin flex() {
    display: flex;
}


@mixin flexCenteredXAxis() {
    @include flex();
    justify-content: center;
}


@mixin flexEndXAxis() {
    @include flex();
    justify-content: flex-end;
}


@mixin flexCenteredYAxis() {
    @include flex();
    align-items: center;
}


@mixin flexEndYAxis() {
    @include flex();
    align-items: flex-end;
}


@mixin flexCenteredInTheMiddle() {
    @include flexCenteredXAxis();
    @include flexCenteredYAxis();
}


@mixin flexColumn() {
    @include flex();
    flex-direction: column
}


@mixin flexColumnCenteredXAxis() {
    @include flexColumn();
    align-items: center;
}


@mixin flexColumnCenteredYAxis() {
    @include flexColumn();
    justify-content: center
}


@mixin flexSpaceAround() {
    @include flex();
    justify-content: space-around;
}


@mixin flexSpaceBetween() {
    @include flex();
    justify-content: space-between;
}


@mixin flexSpaceEvenly() {
    @include flex();
    justify-content: space-evenly;
}


@mixin positionAbsolute($top, $bottom, $left, $right) {
    position: absolute;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}