@import '../scss/variable.scss';


@mixin hover() {

    &:hover {
        transition: all 225ms ease-in-out;
        cursor: pointer;
    }
}


@mixin hoverDisabled() {
    @include hover();

    &:hover {
        cursor: not-allowed;
    }
}


@mixin btnPrimaryDisabled() {
    @include hoverDisabled();
    background-color: $disabledColorOrColorInputfieldHover;
}


@mixin btnPrimary() {
    background-color: $primaryColor;
    color: white;
    font-size: 18px;
    font-weight: 700;
}


@mixin btnPrimaryHover() {
    @include hover();

    &:hover {
        background-color: $primaryColorHover;
    }
}


@mixin btnSecondaryDisabled() {
    @include hoverDisabled();
    color: $disabledColorOrColorInputfieldHover;
    border: 1px solid $disabledColorOrColorInputfieldHover;
}


@mixin btnSecondary() {
    color: $primaryColor;
    border: 1px solid $primaryColorHover;
    background-color: white;
    font-size: 18px;
    font-weight: 700;
}


@mixin btnSecondaryHover() {
    @include hover();

    &:hover {
        background-color: $secondaryColorHover;
        color: white;
    }
}


@mixin iconHover() {
    @include hover();

    &:hover {
        background-color: $bgColor;
    }
}


@mixin inputfieldOrTextarea($widthValueInPx, $borderRadiusValueInPx, $padddingTopInPx, $padddingRightInPx, $padddingBottomInPx, $padddingLeftInPx, $fontSizeValueInPx, $bgColor) {
    width: $widthValueInPx;
    border-radius: $borderRadiusValueInPx;
    padding: $padddingTopInPx $padddingRightInPx $padddingBottomInPx $padddingLeftInPx;
    font-size: $fontSizeValueInPx;
    background-color: $bgColor;
    color: $disabledColorOrColorInputfieldHover;
    outline: none;
}


@mixin inputfieldOrTextareaHover() {

    &:hover {
        transition: all 225ms ease-in-out;
        border: 1px solid $disabledColorOrColorInputfieldHover;
    }
}


@mixin inputfieldOrTextareaFocus() {

    &:focus {
        border: 1px solid $secondaryColorHover;
    }
}


@mixin flex() {
    display: flex;
}


@mixin flexCenteredXAxis() {
    @include flex();
    justify-content: center;
}


@mixin flexCenteredYAxis() {
    @include flex();
    align-items: center;
}


@mixin flexCenteredInTheMiddle() {
    @include flexCenteredXAxis();
    @include flexCenteredYAxis();
}


@mixin flexColumn() {
    @include flex();
    flex-direction: column
}


@mixin flexColumnCenteredXAxis() {
    @include flexColumn();
    align-items: center;
}


@mixin flexColumnCenteredYAxis() {
    @include flexColumn();
    justify-content: center
}


@mixin flexSpaceAround() {
    @include flex();
    justify-content: space-around;
}


@mixin flexSpaceBetween() {
    @include flex();
    justify-content: space-between;
}


@mixin flexSpaceEvenly() {
    @include flex();
    justify-content: space-evenly;
}


@mixin positionAbsolute() {
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
}