$primaryColor: #444DF2;
$primaryColorHover: #797EF3;
$secondaryColorHover: #535AF1;
$disabledColorOrColorInputfieldHover: #686868;
$hoverColorInputfields: #ADB0D9;
$bgColor: #ECEEFE;
$errorColor: #ED1E79;