<div class="containerSidebarLowerPart" (click)="foldInContactList()">
    <img src="assets/icons/arrow-icon-dropdown.svg" alt="Arrow Icon"
        [ngClass]="{'rotateArrowIcon': contactListAreCollapsed}">

    <img src="assets/icons/user-icon-with-circle-black.svg" alt="User Icon">
    <p>Direct Messages</p>
</div>


<ul class="contactList" [ngClass]="{'d-none': contactListAreCollapsed}">
    @for (user of createUserService.allUsersAsObservable | async; track $index) {

    @if (!userIdMatchesWithIdFromLoggedinUser(user)) {

    <li routerLink="/mainView/directMessage/{{ user.userId }}" routerLinkActive="activeUserDirectMessages"
        (click)="selectContactInMobileView()">

        @if (noProfileImgExist(user)) {
        <img class="imgNoSelectedProfile" src="assets/img/non-user-selected.svg" alt="User Profile Image">
        }@else {
        <img src="{{ user.imgUrl }}" alt="User Profile Image">
        }

        @if (userIsOnline(user)) {
        <img src="assets/icons/user-is-online-icon.svg" alt="Green Dot">
        }@else {
        <img src="assets/icons/user-is-offline-icon.svg" alt="Gray Dot">
        }

        <p>{{ user.name }}</p>
    </li>
    }

    }@empty {

    @if (!contactsAreLoading()) {
    <p class="text">No Contacts Existing</p>
    }

    }

    @if (contactsAreLoading()) {
    <div class="containerSpinnerIcon">
        <img src="assets/icons/spinner-icon.svg" alt="Spinner Icon">
    </div>
    }
</ul>