@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


.containerSidebarLowerPart {
    @include flexCenteredYAxis();
    @include hover();
    gap: 15px;
    margin-top: 20px;

    img:nth-of-type(1) {
        transition: all 225ms ease-in-out;
        transform: rotate(0deg);
    }

    p {
        font-weight: 700;
        font-size: 20px;
    }

    &:hover {

        img {
            filter: brightness(0) saturate(100%) invert(36%) sepia(75%) saturate(3861%) hue-rotate(228deg) brightness(96%) contrast(97%);
        }

        p {
            color: $middlePurple;
        }
    }

    &:active {

        p {
            color: #000000;
        }
    }
}


.contactList {
    @include flexColumn();
    gap: 15px;
    margin: 0;
    padding-left: 32px;
    list-style: none;

    li {
        @include flexCenteredYAxis();
        @include hover();
        position: relative;
        gap: 15px;
        border-radius: 35px;
        padding: 4px 20px 4px 20px;

        img:nth-of-type(1) {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        img:nth-of-type(2) {
            @include positionAbsolute(45px, unset, 55px, unset);
            width: 12px;
            border-radius: 50%;
            border: 2px solid #ffffff;
        }

        p:nth-of-type(1) {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow-x: hidden;
        }

        p {
            font-size: 18px;
        }

        &:hover {
            background-color: $bgColor;
        }
    }
}


.imgNoSelectedProfile {
    background-color: $purple;
    width: 38px !important;
    height: 38px !important;
    padding: 6px;
}


.rotateArrowIcon {
    transition: all 225ms ease-in-out;
    transform: rotate(-90deg) !important;
}


.text {
    font-size: 18px;
    padding-left: 25px;
}


.containerSpinnerIcon {
    @include flexCenteredXAxis();
    margin-top: -30px;

    img {
        width: 120px;
    }
}


.activeUserDirectMessages {
    background-color: $bgColor;
    color: $middlePurple;
    font-weight: 700;

    &:hover {
        cursor: unset !important;
    }
}