@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


main {
    background-color: $bgColor;
    min-height: 100svh;
}


.mainContainerResetPassswordBox {
    @include flexCenteredXAxis();
    margin-top: 15px;
    padding-bottom: 15px;
}


.resetPassswordBox {
    @include flexColumnCenteredXAxis();
    position: relative;
    border-radius: 30px;
    padding: 30px 50px 30px 50px;
    box-shadow: 0px 2px 10px 0 #00000014;
    background-color: #ffffff;

    h1 {
        color: $darkPurple;
        margin: 0 0 25px 0;
        font-size: 46px;
    }

    form {
        @include flexColumnCenteredXAxis();
        gap: 40px;

        input {
            @include inputfieldOrTextarea(500px, 100px, 18px, 40px, 18px, 40px, 18px, $bgColor);
            @include inputfieldOrTextareaHover();
            border: 1px solid transparent;

            &:focus {
                @include inputfieldOrTextareaFocus();
            }
        }
    }
}


.containerArrowIcon {
    @include iconHover();
    @include flexCenteredInTheMiddle();
    @include positionAbsolute(30px, unset, 60px, unset);
    width: 20px;
    height: 20px;
    padding: 8px;

    &:hover {

        img {
            transition: all 225ms ease-in-out;
            filter: brightness(0) saturate(100%) invert(24%) sepia(99%) saturate(1557%) hue-rotate(226deg) brightness(110%) contrast(90%);
        }
    }
}


.btnContainer {
    @include flexEndXAxis();
    width: 100%;
    gap: 30px;

    button {
        border-radius: 25px;
        padding: 12px 25px 12px 25px;
    }
}


.btnPrimary {
    @include btnPrimary();
    @include btnPrimaryHover();
    @include btnPrimaryActive();
    border: unset;
}


app-footer {
    display: block;
    padding-top: 140px;
}