@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


//////////////////// Width
@media screen and (min-width: 1600px) {

    .containerArrowIcon {
        left: 100px;
    }

    .resetPassswordBox {

        form {

            input {
                width: 650px;
            }
        }
    }

    .errorMessage {
        font-size: 16px;
    }
}


@media screen and (max-width: 710px) {

    .containerArrowIcon {
        left: 40px;
    }

    .resetPassswordBox {

        form {

            input {
                width: 400px;
            }
        }
    }
}


@media screen and (max-width: 610px) {

    .containerArrowIcon {
        left: 15px;
    }

    .resetPassswordBox {

        form {

            input {
                width: 300px;
            }
        }
    }
}


@media screen and (max-width: 540px) {

    .mainContainerResetPassswordBox {
        margin-top: 50px;
    }

    .containerArrowIcon {
        left: 10px;
    }

    .resetPassswordBox {
        width: 360px;
    }
}


@media screen and (max-width: 475px) {

    .containerArrowIcon {
        left: 50px;
    }

    .resetPassswordBox {
        width: 300px;
        padding: 30px 40px 30px 40px;

        h1 {
            font-size: 40px;
            text-align: center;
        }

        form {

            input {
                width: 240px;
            }
        }
    }

    .errorMessage {
        width: 80%;
        margin: -25px 0 10px 10px;
    }

    .btnContainer {
        justify-content: center;
    }
}


@media screen and (max-width: 395px) {

    .containerArrowIcon {
        left: 20px;
    }

    .resetPassswordBox {
        width: 180px;

        h1 {
            font-size: 30px;
        }

        form {

            input {
                width: 150px;
                font-size: 16px;
            }
        }
    }

    .btnPrimary {
        font-size: 16px;
    }
}


//////////////////// Disabled the hover Effects on touch Devices and add active Effects
@media (pointer: coarse) {

    .containerArrowIcon {

        &:hover {
            background-color: unset;

            img {
                filter: none;
            }
        }

        &:active {
            background-color: $bgColor;
            transition: all 225ms ease-in-out;

            img {
                filter: brightness(0) saturate(100%) invert(24%) sepia(99%) saturate(1557%) hue-rotate(226deg) brightness(110%) contrast(90%);
            }
        }
    }

    .btnPrimary {

        &:hover {
            background-color: $darkPurple;
        }

        &:active {
            background-color: $purple;
        }
    }
}