<main>
    <app-header></app-header>


    <div class="mainContainerResetPassswordBox">

        <div class="resetPassswordBox">
            <div routerLink="/forgotPassword" class="containerArrowIcon">
                <img src="./assets/icons/arrow-icon.svg" alt="Arrow Icon">
            </div>

            <h1>Reset Password</h1>


            <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">
                <!--------------------------------- Inputfield New Password --------------------------------->
                <input class="inputFieldEmail" type="password" placeholder="New Password" formControlName="newPassword"
                    [ngClass]="{'errorInputfield': inputfieldNewPasswordIsRequired() || 
                    inputfieldNewPasswordIsToShort() || 
                    inputfieldNewPasswordIsToLong()}">

                @if (inputfieldNewPasswordIsRequired()) {
                <p style="margin-top: -25px;" class="errorMessage">Password is required</p>
                } @else if (inputfieldNewPasswordIsToShort()) {
                <p style="margin-top: -25px; margin-right: 244px;" class="errorMessage">
                    Password must be at least 12 Characters long
                </p>
                }@else if ( inputfieldNewPasswordIsToLong()) {
                <p style="margin-top: -25px; margin-right: 212px;" class="errorMessage">x
                    Password must be at least 12 characters long
                </p>
                }
                <!--------------------------------- Inputfield New Password --------------------------------->


                <!--------------------------------- Inputfield Confirm Password --------------------------------->
                <input class="inputFieldEmail" type="password" placeholder="Confirm new Password"
                    formControlName="confirmPassword" [ngClass]="{'errorInputfield': inputfieldConfirmPasswordIsRequired() || 
                    inputfieldConfirmPasswordIsToShort() || 
                    inputfieldConfirmPasswordIsToLong()}">

                @if (inputfieldConfirmPasswordIsRequired()) {
                <p style="margin-top: -25px;" class="errorMessage">Password is required</p>
                }@else if (inputfieldConfirmPasswordIsToShort()) {
                <p style="margin-top: -25px; margin-right: 244px;" class="errorMessage">
                    Password must be at least 12 Characters long
                </p>
                }@else if (inputfieldConfirmPasswordIsToLong()) {
                <p style="margin-top: -25px; margin-right: 212px;" class="errorMessage">
                    Password can be a maximum of 50 characters long
                </p>
                }
                <!--------------------------------- Inputfield Confirm Password --------------------------------->


                <div class="btnContainer">
                    <button class="btnPrimary" type="submit"
                        [disabled]="resetPasswordForm.invalid || checkIfNewPasswordMatchesWithConfirmPassword()"
                        [ngClass]="{'btnDisabled': resetPasswordForm.invalid || checkIfNewPasswordMatchesWithConfirmPassword()}">
                        Change Password
                    </button>
                </div>
            </form>
        </div>

    </div>


    <!-- <app-footer></app-footer> -->


    @if (authService.passwordReseted) {
    <app-user-feedback-message></app-user-feedback-message>
    }
</main>