<main>
    <app-header></app-header>


    <div class="mainContainerResetPassswordBox">

        <div class="resetPassswordBox">
            <div routerLink="/forgotPassword" class="containerArrowIcon">
                <img src="assets/icons/arrow-icon.svg" alt="Arrow Icon">
            </div>

            <h1>Reset Password</h1>

            <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">
                <!--------------------------------- Inputfield New Password --------------------------------->
                <input class="inputFieldEmail" type="password" placeholder="New Password" formControlName="newPassword"
                    [ngClass]="{'errorInputfield': inputfieldNewPasswordIsRequired() || 
                    inputfieldNewPasswordIsToShort() || 
                    inputfieldNewPasswordIsToLong()}">

                @if (inputfieldNewPasswordIsRequired()) {
                <p class="errorMessage">Password is required</p>
                } @else if (inputfieldNewPasswordIsToShort()) {
                <p class="errorMessage">
                    Password must be at least 12 Characters long
                </p>
                }@else if (inputfieldNewPasswordIsToLong()) {
                <p class="errorMessage">
                    Password can be a maximum of 50 characters long
                </p>
                }
                <!--------------------------------- Inputfield New Password --------------------------------->


                <!--------------------------------- Inputfield Confirm Password --------------------------------->
                <input class="inputFieldEmail" type="password" placeholder="Confirm new Password"
                    formControlName="confirmPassword" [ngClass]="{'errorInputfield': inputfieldConfirmPasswordIsRequired() || 
                    inputfieldConfirmPasswordIsToShort() || 
                    inputfieldConfirmPasswordIsToLong() ||
                    newPasswordNotMatcheWithConfirmedPassword()}">

                @if (inputfieldConfirmPasswordIsRequired()) {
                <p class="errorMessage">Password is required</p>
                }@else if (inputfieldConfirmPasswordIsToShort()) {
                <p class="errorMessage">
                    Password must be at least 12 Characters long
                </p>
                }@else if (inputfieldConfirmPasswordIsToLong()) {
                <p class="errorMessage">
                    Password can be a maximum of 50 characters long
                </p>
                }@else if (newPasswordNotMatcheWithConfirmedPassword()) {
                <p class="errorMessage">
                    Password not match with new Password
                </p>
                }
                <!--------------------------------- Inputfield Confirm Password --------------------------------->


                <div class="btnContainer">
                    <button class="btnPrimary" type="submit"
                        [disabled]="resetPasswordForm.invalid || newPasswordNotMatcheWithConfirmedPassword() || resetPasswordForm.controls.newPassword.value?.trim() == ''"
                        [ngClass]="{'btnDisabled': resetPasswordForm.invalid || newPasswordNotMatcheWithConfirmedPassword() || resetPasswordForm.controls.newPassword.value?.trim() == ''}">
                        Change Password
                    </button>
                </div>
            </form>
        </div>

    </div>


    @if (authService.passwordReseted) {
    <app-user-feedback-message></app-user-feedback-message>
    }
</main>