@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';


.mainContainerChannelMessageOwnMessage {
    @include flex();
    gap: 30px;
    margin-top: 44px;
    padding: 10px 25px 10px 25px;
    position: relative;

    &:hover {
        background-color: $bgColor;

        .containerReactionBar {
            display: flex;
        }

        .messageTextOwnMessage {
            background-color: #ffffff !important;
        }
    }

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}


.mainContainerChannelMessageFromOtherUser {
    @include flex();
    flex-direction: row-reverse;
    gap: 30px;
    margin-top: 44px;
    padding: 10px 25px 10px 25px;
    position: relative;

    &:hover {
        background-color: $bgColor;

        .containerReactionBar {
            display: flex;
        }
    }

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}


.overlay {
    @include positionAbsolute(0, 0, 0, 0);
}


.containerReactionBar {
    @include positionAbsolute(-20px, unset, unset, unset);
    @include flexCenteredYAxis();
    border: 1px solid $lightPurple;
    display: none;
    gap: 5px;
    height: 40px;
    border-radius: 25px 25px 0 25px;
    padding: 3px 15px 3px 20px;
    background-color: #ffffff;

    img {
        padding: 8px;
        width: 23px;
        height: 23px;
    }
}


.containerSingleIcon {
    @include hover();
    @include flex();
    border-radius: 50%;

    label {
        @include flex();
        @include hover();

        input {
            @include positionAbsolute(72px, 12px, 10px, 283px);
            @include hover();
            z-index: 1;
            opacity: 0;
        }
    }

    img {
        @include hover();

        &:hover {
            filter: brightness(0) saturate(100%) invert(32%) sepia(74%) saturate(1212%) hue-rotate(215deg) brightness(97%) contrast(107%);
        }
    }

    &:hover {
        background-color: $bgColor;
    }
}


.containerMenuMoreOptions {
    @include positionAbsolute(30px, unset, unset, 15px);
    z-index: 1;
    width: 200px;
    border-radius: 30px 0 30px 30px;
    padding: 10px 20px 10px 20px;
    box-shadow: 0px 6px 14px 0px #00000033;
    background-color: #ffffff;

    p {
        @include hover();
        margin: 0;
        font-size: 20px;
        border-radius: 100px;
        padding: 10px 20px 10px 20px;

        &:hover {
            background-color: $bgColor;
            color: $middlePurple;
            font-weight: 700;
        }
    }
}


.singleIcon {
    @include iconHover();
}


.imgNoSelectedProfile {
    background-color: $purple;
    width: 45px !important;
    height: 45px !important;
    padding: 6px;
}


.container {
    @include flexColumn();
    @include flexEndYAxis();
}


.containerChannelMessageUpperPartOwnMessage {
    @include flex();
    align-items: baseline;
    gap: 20px;

    p:nth-of-type(1) {
        font-size: 18px;
        font-weight: 700;
    }

    p:nth-of-type(2) {
        color: $textGray;
        font-size: 14px;
    }

    p {
        margin: 0;
    }
}


.containerChannelMessageUpperPartFromOtherUser {
    @include flexStartXAxis();
    flex-direction: row-reverse;
    align-items: baseline;
    gap: 20px;

    p:nth-of-type(1) {
        font-size: 18px;
        font-weight: 700;
    }

    p:nth-of-type(2) {
        color: $textGray;
        font-size: 14px;
    }

    p {
        margin: 0;
    }
}


.messageTextOwnMessage {
    background-color: $bgColor;
    width: fit-content;
    border-radius: 0px 30px 30px 30px;
    padding: 15px;
    font-size: 18px;
    word-break: break-all;
}


.messageTextFromOtherUser {
    background-color: $purple;
    width: fit-content;
    color: #ffffff;
    border-radius: 30px 0px 30px 30px;
    padding: 15px;
    font-size: 18px;
    word-break: break-all;
}


.mainContainerSelctedEmojis {
    @include flex();
    gap: 10px;
}


.childContainerSelctedEmojis {
    @include hover();
    @include flexCenteredYAxis();
    border: 1px solid $lightPurple;
    position: relative;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    gap: 5px;
    background-color: #ffffff;

    &:hover {
        border: 1px solid $darkPurple;
    }

    img {
        width: 20px;
        height: 20px;
    }

    p {
        margin: 0;
    }
}


.containerTooltip {
    @include positionAbsolute(unset, 40px, -42px, unset);
    @include flexColumnCenteredXAxis();
    background-color: $darkPurple;
    gap: 8px;
    z-index: 1;
    padding: 15px 10px 15px 10px;
    border-radius: 30px;

    p:nth-of-type(1) {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1px;
        width: 120px;
        word-wrap: break-word;
        text-align: center;
        color: #ffffff;
    }

    p:nth-of-type(2) {
        color: #ffffff;
    }

    img {
        width: 25px;
        height: 25px;
    }
}


form {
    position: relative;
    padding: 20px 0 20px 0;

    textarea {
        @include inputfieldOrTextarea(180px, 20px, 20px, 20px, 20px, 20px, 18px, #ffffff);
        @include inputfieldOrTextareaHover();
        @include inputfieldOrTextareaFocus();
        border: 1px solid $lightPurple;
        font-family: "Figtree", sans-serif;
        height: 200px;
        resize: none;
    }
}


.containerIconAndBtns {
    @include flexCenteredYAxis();
    position: absolute;
    background-color: #ffffff;
    border-radius: 20px;
    margin: -81px 0 0 2px;
    padding: 16px 20px 16px 0;
}


.containerSmileyIcon {
    @include hover();
    @include flex();
    border-radius: 50%;

    img {
        width: 40px;
        height: 40px;

        &:hover {
            filter: brightness(0) saturate(100%) invert(32%) sepia(74%) saturate(1212%) hue-rotate(215deg) brightness(97%) contrast(107%);
        }
    }

    &:hover {
        background-color: $bgColor;
    }
}


.containerBtn {
    @include flex();
    gap: 12px;

    button:nth-of-type(1) {
        @include btnSecondary();
        @include btnSecondaryHover();
        @include btnSecondaryActive();
    }

    button:nth-of-type(2) {
        @include btnPrimary();
        @include btnPrimaryHover();
        @include btnPrimaryActive();
        border: unset;
    }

    button {
        font-size: 16px !important;
        padding: 12px 15px 12px 15px;
        border-radius: 50px;
    }
}


.uploadedImage {
    @include hover();
    width: 200px !important;
    height: 200px !important;
    margin: 15px 0 15px 0;
    object-fit: cover;
    border-radius: 8px !important;

    &:hover {
        opacity: 0.8;
    }
}


.containerReactionBarLeftSide {
    left: 15px;
}


.containerReactionBarRightSide {
    right: 15px;
}


.marginLeft {
    margin-left: -60px;
}


.marginRight {
    margin-right: -60px;
}